
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>修改账号信息</title>
    <link href="~/skin/default/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/js/common.js"></script>
    <script type="text/javascript">
        var api = top.dialog.get(window); //获取父窗体对象
        $(function () {
            //设置按钮及事件
            api.button([{
                value: '确定',
                callback: function () {
                    submitForm();
                },
                autofocus: true
            }, {
                value: '取消',
                callback: function () { }
            }
            ]);
            function getURLParameter(name) {
                return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
            }
            //console.log(getURLParameter("uid"))
            $("#txtname").val(getURLParameter("WechatName"))
            $("#txtheadurl").val(getURLParameter("WechatHeadIcon"))
            $("#txtAgentId").val(getURLParameter("AgentId"))
            $("#hduid").val(getURLParameter("uid"))
        });

        var reg = /^(http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.?^=%&:/~\+#]*[\w\-\?^=%&/~\+#])?$/;
        //提交表单处理
        function submitForm() {
            var currDocument = $(document);
            //验证表单
            if ($("#txtname").val() == "") {
                top.dialog({
                    title: '提示',
                    content: '微信名称不能为空！',
                    okValue: '确定',
                    ok: function () { },
                    onclose: function () {
                        $("#txtname", currDocument).focus();
                    }
                }).showModal(api);
                return false;
            }
            //if ($("#txtheadurl").val() == "") {
            //    top.dialog({
            //        title: '提示',
            //        content: '头像地址不能为空！',
            //        okValue: '确定',
            //        ok: function () { },
            //        onclose: function () {
            //            $("#txtheadurl", currDocument).focus();
            //        }
            //    }).showModal(api);
            //    return false;
            //}
            //if (!reg.test($("#txtheadurl").val()))
            //{
            //    top.dialog({
            //        title: '提示',
            //        content: '头像地址格式错误，请输入带http或https全地址！',
            //        okValue: '确定',
            //        ok: function () { },
            //        onclose: function () {
            //            $("#txtheadurl", currDocument).focus();
            //        }
            //    }).showModal(api);
            //    return false;
            //}
            var paraJson = {};
            paraJson["uid"] = $("#hduid").val();
            paraJson["wechatname"] = $("#txtname").val();
            paraJson["headurl"] = $("#txtheadurl").val();
            paraJson["txtAgentId"] = $("#txtAgentId").val();
            ajaxPostData("/Business/DialogWechat", paraJson, function (json) {
                if (json.Code == "0" && json.Code == 0) {
                    if (json.Message) {
                        api.close(true).remove();
                    }
                    else {
                        alert("设置失败");
                    }
                }
            });
            return false;
        }
    </script>
</head>

<body>
    <div class="div-content">
        <input type="hidden" id="hduid" />
        <dl>
            <dt>微信名称</dt>
            <dd>
                <input type="text" id="txtname" class="input normal" />
                <span class="Validform_checktip">*</span>
            </dd>
        </dl>
        <dl>
            <dt>头像地址</dt>
            <dd>
                <input type="text" id="txtheadurl" class="input normal" />
                <span class="Validform_checktip">*</span>
            </dd>
        </dl>
        <dl>
            <dt>代理账号</dt>
            <dd>
                <input type="text" id="txtAgentId" class="input normal" />
                <span class="Validform_checktip">*</span>
            </dd>
        </dl>
    </div>
</body>
</html>
