
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>代理设置</title>
    <link href="~/skin/default/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/js/common.js"></script>
    <script type="text/javascript">
        var api = top.dialog.get(window); //获取父窗体对象
        $(function () {
            //设置按钮及事件
            api.button([{
                value: '确定',
                callback: function () {
                    submitForm();
                },
                autofocus: true
            }, {
                value: '取消',
                callback: function () { }
            }
            ]);
            function getURLParameter(name) {
                return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
            }
            //console.log(getURLParameter("uid"))
            $("#hduid").val(getURLParameter("uid"))
        });

        //提交表单处理
        function submitForm() {
            var currDocument = $(document);
            var paraJson = {};
            paraJson["uid"] = $("#hduid").val();
            paraJson["agent"] = $("#slagent").val();
            ajaxPostData("/Business/DialogAgent", paraJson, function (json) {
                if (json.Code == "0" && json.Code == 0) {
                    if (json.Message) {
                        api.close(true).remove();
                    }
                    else {
                        alert("设置失" );
                    }
                }
            });

            return false;
        }
    </script>
</head>

<body>
    <div class="div-content">
        <input type="hidden" id="hduid" value="<%=userid%>" />
        <dl>
            <dt>代理类型</dt>
            <dd>
                <select id="slagent">
                    @*<option value="0">普通会员</option>
                    <option value="1">代理等级1</option>*@
                    <option value="2">代理等级2</option>
                </select>
            </dd>
        </dl>
    </div>
</body>
</html>

