
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>金币收支</title>
    <link href="~/scripts/artdialog/ui-dialog.css" rel="stylesheet" type="text/css" />
    <link href="~/skin/default/style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/pagination.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="~/scripts/artdialog/dialog-plus-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/js/laymain.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/js/common.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/js/laydate.js"></script>
    <script>
        //$(function () {
        //    $.ajax({
        //        url: "statistics_gold.aspx/InitDropDownList", type: "post", contentType: "application/json", dataType: "json", success: function (data) {
        //            for (var i in data.d)
        //                console.log(data.d[i]);

        //        }
        //    });
        //});

        //window.setInterval(getuserCount, 3000);
        //function getuserCount()
        //{

        //}
    </script>
</head>

<body class="mainbody">
    <form id="form1" runat="server">
        <!--导航栏-->
        <div class="location">
            <a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a>
            <a href="/Home/Center" class="home"><i></i><span>首页</span></a>
            <i class="arrow"></i>
            <a href=""><span>游戏管理</span></a>
            <i class="arrow"></i>
            <span>转盘奖品配置</span>
        </div>
        <!--/导航栏-->
        <!--工具栏-->
        @*<div id="floatHead" class="toolbar-wrap">
                <div class="toolbar">
                    <div class="box-wrap">
                        <a class="menu-btn"></a>
                        <%--                    <div class="l-list">
                            <asp:DropDownList ID="selectGameInfo" runat="server" CssClass="select" OnTextChanged="selectGameInfo_TextChanged"></asp:DropDownList>
                        </div>--%>
                        <div class="r-list" style="margin-right: 5%">
                            <ul>
                                <li>
                                    <%-- <asp:LinkButton ID="lbtnSearch" runat="server" CssClass="btn-search" OnClick="btnSearch_Click">查询</asp:LinkButton>--%>
                                    <%--<asp:TextBox ID="txtStartTime" onclick="laydate()" runat="server" CssClass="input" />
                                    <span>至</span>
                                    <asp:TextBox ID="txtEndTime" onclick="laydate()" runat="server" CssClass="input" />--%>

                                </li>
                            </ul>

                            <%--    <input id="startTime" name="startTime" onclick="laydate()" class="input">--%>


                            <%--  <input id="endTime" name="endTime" onclick="laydate()" class="input">--%>
                        </div>
                    </div>
                </div>
            </div>*@
        <div id="floatHead" class="toolbar-wrap">
            <div class="toolbar">
                <div class="box-wrap">
                    <a class="menu-btn"></a>
                    <div class="r-list" style="margin-right: 5%">
                        <ul>
                            <li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--/工具栏-->
        <!--列表-->
        @*<div class="table-container">
                <asp:Repeater ID="rptList" runat="server">
                    <HeaderTemplate>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable">
                            <tr>
                                <th>游戏ID</th>
                                <th>游戏名称</th>
                                <th>当前奖池</th>
                                <th>历史总押金</th>
                                <th>历史总收益</th>
                                <th>税收</th>
                                <th>抽水线</th>
                                <th>放水线</th>
                            </tr>
                    </HeaderTemplate>
                    <ItemTemplate>
                        <tr>
                            <td align="center"><%#Eval("gameid")%></td>
                            <td align="center"><%#Eval("ganmename")%></td>
                            <td align="center"><%#Eval("jackpot")%></td>
                            <td align="center"><%#Eval("historygambleall")%></td>
                            <td align="center"><%#Eval("income").ToString()%></td>
                            <td align="center"><%#Eval("rax").ToString()%></td>
                            <td align="center"><%#Eval("pump")%></td>
                            <td align="center"><%#Eval("waterproof")%></td>

                        </tr>
                    </ItemTemplate>
                    <FooterTemplate>
                        <%#rptList.Items.Count == 0 ? "<tr><td align=\"center\" colspan=\"4\">暂无记录</td></tr>" : ""%>
                        </table>
                    </FooterTemplate>
                </asp:Repeater>
            </div>*@
        <div class="table-container">

            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable">
                <thead>
                    <tr class="odd_bg">
                        <th>奖品ID</th>
                        <th>奖品名称</th>
                        <th>奖品价值</th>
                        <th>奖品图片</th>
                        <th>奖品类型</th>
                        <th>中奖几率</th>
                        <th>转盘等级</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="MyTbody">
                    @*<tr>
                            <td align="center">5</td>
                            <td align="center">ATT连环炮</td>
                            <td align="center">2094237</td>
                            <td align="center">10680657</td>
                            <td align="center">94237</td>
                            <td align="center">35703</td>
                            <td align="center">20</td>
                            <td align="center">23</td>
                        </tr>*@
                </tbody>
            </table>

        </div>
        <!--/列表-->
        <!--内容底部-->
        <div class="line20"></div>
        <div class="pagelist">
            <div class="l-btns">
                <span>显示</span><input name="txtPageNum" type="text" id="txtPageNum" class="pagenum"><span>条/页</span>
            </div>
            <div id="PageContent" class="default">

            </div>
        </div>
        <!--/内容底部-->
        @*<div style="width:100%;text-align: center;">
                <span style="display: inline-block;padding: 4px 15px 0px 15px;color: #666;font-size:14px;">(注 : 用户ID,等等等等扥等可以作为查询条件，在输入框中输入后点击查询)</span>
            </div>*@
    </form>
    <script>
        var storagefirst = window.localStorage;
        var MyPageNum2 = storagefirst["MyPageNum2"];
        var Keywords = ""
        var PageIndex = 1;
        var txtPageNum = 10;
        if (MyPageNum2 != "" && MyPageNum2 != null) {
            txtPageNum = MyPageNum2
        } else {
            txtPageNum = txtPageNum
        }
        $("#txtPageNum").val(txtPageNum);


        GetWithdrawalsList()

        $("#lbtnSearch").click(function () {
            Keywords = $("#txtKeywords").val();
            txtPageNum = $("#txtPageNum").val()
            PageIndex = 1;
            GetWithdrawalsList()
        })
        $("#txtPageNum").change(function () {
            Keywords = $("#txtKeywords").val();
            txtPageNum = $("#txtPageNum").val()
            storagefirst["MyPageNum2"] = txtPageNum
            PageIndex = 1;
            GetWithdrawalsList()
        })

        $("#PageContent").on("click", "a", function () {
            var lkl2 = $(this).text();
            if (lkl2 == "下一页»") {
                PageIndex = parseInt(PageIndex) + 1
            } else if (lkl2 == "«上一页") {
                PageIndex = parseInt(PageIndex) - 1
            } else {
                PageIndex = lkl2
            }
            lweq = $("#selectRobot").val();
            Keywords = $("#txtKeywords").val();
            txtPageNum = $("#txtPageNum").val()
            GetWithdrawalsList()
        })

        function GetWithdrawalsList() {
            var data = {};
            data.PageIndex = PageIndex;
            data.PageSize = txtPageNum;
            data.Keywords = Keywords;
            $.ajax({
                type: "post", url: '/Business/GetDialAwardData',
                datatype: 'json',
                data: data,
                success: function (res) {
                    if (res.Code == "0" && res.Code == 0) {
                        // console.log(res)
                        if (res) {
                            if (res.Data.length > 0) {
                                $("#MyTbody").empty();
                                var str = $("#MyTbody").html();
                                var sto = ""
                                for (var n = 0; n < res.Data.length; n++) {
                                    str = "<tr>" +
                                        "<td align='center'>" + res.Data[n].Id + "</td>" +
                                        "<td align='center'>" + res.Data[n].Name + "</td>" +
                                        "<td align='center'>" + res.Data[n].Price + "</td>" +
                                        "<td align='center'><img width='32' src=" + res.Data[n].Prizeurl + " /></td>" +
                                        "<td align='center'>" + res.Data[n].Prizetype + "</td>" +
                                        "<td align='center'>" + res.Data[n].Probability + "</td>" +
                                        "<td align='center'>" + res.Data[n].Levelid + "</td>" +
                                        "<td align='center'>" +
                                        "<a href='/Business/DialAwardEdit?action=Edit&amp;Id=" + res.Data[n].Id + "&amp" +
                                        ";Name=" + res.Data[n].Name + "&amp;Price=" + res.Data[n].Price + "&amp" +
                                        ";Prizeurl=" + res.Data[n].Prizeurl + "&amp;Prizetype=" + res.Data[n].Prizetype + "&amp" +
                                        ";Probability=" + res.Data[n].Probability + "&amp;Levelid=" + res.Data[n].Levelid + "'>修改</a>" +
                                        "</td>" +
                                        "</tr>"
                                    $('#MyTbody').append(str);
                                    var sthtml = $("#PageContent").html();
                                    $("#PageContent").empty();
                                    if (res.InnerHtml.length > 0) {
                                        sthtml = res.InnerHtml
                                        $('#PageContent').append(sthtml);
                                    }
                                }
                            } else {
                                $("#MyTbody").empty();
                            }
                        } else {
                            eval(res)
                        }
                    } else {
                        eval(res)
                    }
                }
            })
        }
    </script>
</body>
</html>
