<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="SMSAccount" value="ZZ00685"/>
    <add key="SMSPassword" value="258475"/>
    <add key="SMSappkey" value="63244"/>
    <add key="RedisStr" value="127.0.0.1:6379"/>
    <add key="SMSPostUrl" value="https://dx.ipyy.net/smsJson.aspx"/>
    <!--游戏服务器地址-->
    <add key="SutHttpServer" value="http://127.0.0.1:8080/Service/?data="/>
    <!--测试服-->
    <add key="RegDomain" value=""/>
    <!--游戏服后台域名-->
    <add key="domainName" value="gm.58801am.com"/>
    <!--图片前缀地址-->
    <add key="imgurl" value="http://106.12.101.44:82/"/>
	<add key="website" value="http://106.12.101.44:80/"/>
    <add key="taxrate" value="0.01"/>
  </appSettings>
  <connectionStrings>

	  <!--<add name="MyContext" providerName="MySql.Data.MySqlClient" connectionString="Server=mysql57.rdsmzem2tbn5if9.rds.gz.baidubce.com;Database=middledb; Uid=root2020;Password=root2020@123456789;port=3306;Convert Zero Datetime=True" />
	  <add name="chesscarddbEntities" connectionString="metadata=res://*/ChessCardDB.csdl|res://*/ChessCardDB.ssdl|res://*/ChessCardDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql57.rdsmzem2tbn5if9.rds.gz.baidubce.com;user id=root2020;password=root2020@123456789;persistsecurityinfo=True;database=chesscarddb;Convert Zero Datetime=True&quot;" providerName="System.Data.EntityClient" />
	  <add name="snscenterwhirlEntities" connectionString="metadata=res://*/snscenterwhirlContext.csdl|res://*/snscenterwhirlContext.ssdl|res://*/snscenterwhirlContext.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql57.rdsmzem2tbn5if9.rds.gz.baidubce.com;password=root2020@123456789;user id=root2020;persistsecurityinfo=True;database=snscenterwhirl&quot;" providerName="System.Data.EntityClient" />
	  <add name="h5game_2021Entities" connectionString="metadata=res://*/H5GameDb.csdl|res://*/H5GameDb.ssdl|res://*/H5GameDb.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql57.rdsmzem2tbn5if9.rds.gz.baidubce.com;user id=root2020;password=root2020@123456789;persistsecurityinfo=True;database=h5game_2021&quot;" providerName="System.Data.EntityClient" />
	  <add name="texas_2021Entities" connectionString="metadata=res://*/texasMainDb.csdl|res://*/texasMainDb.ssdl|res://*/texasMainDb.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql57.rdsmzem2tbn5if9.rds.gz.baidubce.com;user id=root2020;password=root2020@123456789;persistsecurityinfo=True;database=texas_2021&quot;" providerName="System.Data.EntityClient" />-->

	  <add name="MyContext" providerName="MySql.Data.MySqlClient" connectionString="MJ0a1AiBmObh+gGrQgmhxKEbhBicwWU2gK2ZMoB2586Ny56cAAUCbBuiNdO@Q+Praoy2vPlPLwzzGg9MSemhFdPzBI4xfEJ9++z0mvxAoHRym5pUA1SXjiU5HZQZ9aywK@uoDaZju+k=" />
	  <add name="chesscarddbEntities" connectionString="ss19WQ+ato61rdi5t38DwAhaR4WQIaxOkVjMtUe4mWpnPXwYy5XMAoWUK8KFJyJbozEl+JQYBltLVpdC+2VHZpRWMhUx65JES5WhweSB+AWySv0GdpupVR7iunK@hF@RdMi5uwwYz4tnMPoxOfh@FeMA8kKUDl5QcPAO3pJO6F@V88xczsRzxdYCR@pxOQA5+hvxRA8g1F9tEDsFMyl0IUQ4z180TUnN8pVcVLaSLn9P170MTXU0W4u@G4O9Uli2S+tPTX1m@M28kowINVNKkiXEi@48eHqFnxqFIijXMs3ZHbfLynG5WoTJPUn4@uh7U9@MdwDhpXKGsysYjmZ@WGlQAq5Mr16MplrR60j+V+E=" providerName="System.Data.EntityClient" />
	  <add name="snscenterwhirlEntities" connectionString="ss19WQ+ato61rdi5t38DwJ9ueH+w6gJ78e2Rz3nfeqY1dPfhc3VofxAiPTZa9Hp3VVn5PTcC7s1qqXqup+YM+stN6xCB0FNaRjNHjzfONa3SoAaqAiAOzhG8FHE0daRC+m8YqjNt5dBm7aB0qSt3Q9jh@zWEta0BK6F0zUS1pBero3jYI0M7lUkZjum2a3sTC0EuhRrcyyxAMb2pDbxkdP2d2PGlqm6iPrH+ekqmWNktzCydJ8FUFMyClUpMVN6VduFp30+ROPS37HjBOBX6pSgOEvUEY9Zt3PSbuSykUJbvjXfBqMEg@Z7VKIOSLBif2undg8L5F2eeoPq8NxCRw3vNxZ6nDqYddZj02rO4ang=" providerName="System.Data.EntityClient" />
	  <add name="h5game_2021Entities" connectionString="ss19WQ+ato61rdi5t38DwJ9ueH+w6gJ78e2Rz3nfeqY1dPfhc3VofxAiPTZa9Hp3VVn5PTcC7s1qqXqup+YM+stN6xCB0FNaRjNHjzfONa3SoAaqAiAOzhG8FHE0daRC+m8YqjNt5dBm7aB0qSt3Q9jh@zWEta0BK6F0zUS1pBero3jYI0M7lUkZjum2a3sTC0EuhRrcyyxAMb2pDbxkdP2d2PGlqm6iPrH+ekqmWNktzCydJ8FUFMyClUpMVN6VduFp30+ROPS37HjBOBX6pSgOEvUEY9Zt3PSbuSykUJbvjXfBqMEg@Z7VKIOSLBif2undg8L5F2eeoPq8NxCRw67sd+i7pxoJJ6sr5fkcGpE=" providerName="System.Data.EntityClient" />
	  <add name="texas_2021Entities" connectionString="ss19WQ+ato61rdi5t38DwP6r0swMFhF0f3mXwwDCqey6BoDVO70lC7niecu7WmY1vWEyr7mHbgIqYhzhJA8XWomqGw0IeIdtJUE0JMJj13WmtRMhPqfWsRh9w0x8hL6E0KqfIzRgCuMWPCvJYQ+9eXKFkaIGfYTJUedzh7OGgLiRras4vc9S0Ip22IxKRr9QHNQU3kVh7mEYgDAM3vKgWjUPVwp01agI4ooiWM@pDee4ZzzMBXOrcp7e@fhkOGQddwAax9Np+vFZUK7emEuUycA6hVPEMWY4HSoNbeCKIsDnwbd08dk5dO+B6wx4zvVW" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <!--
  ss19WQ+ato61rdi5t38DwI7C8tkRSiivQLar63bzK3Iu82EzIPEkrlnD6TPT28ELvOoszQPDZbcCjTIE77E082ow6WjlIHQDbfkk3vAnxp1sixAO5FVx9b6hYfR7eyFL4oVLDnUxwOUTO09rFs@O@p7NAbh1h5epv3jMbjRyYu+G4Lg6FWYubZWmXYHdAdv2mG9PnIiSVLIWXVdoXWVh8bWu5bAZsBSCRDSplwb7nrnElWeUPhVlW0ubsPKN2WOZ5kMB@Sf@ne9Qu04c@GAlGxSIryWC5z5eTzkbHECmAt4B04hLZahr4vFDOsvtCI+MRuTq6jfd7th5ljV5SlwfybKyX+0SEFDOVcyEAYSVCL1t5XwERaWFzb4W5sH0JPHWwCIuMv+jAhuxbJQFcMCDnwmV5iLdhgMRa5X8anwgJT+YwD@sJqWKcLNgMogHPsPb380Baj+r54c=
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5.2" debug="true"/>
    <httpRuntime targetFramework="4.5.1"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.9.12.0" newVersion="6.9.12.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
</configuration>
<!--ProjectGuid: 333F27A4-87B8-46F1-8166-297D843A61A5-->