<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--支付宝俊付通-->
    <add key="p1_usercode" value="10224758" />
    <add key="compKey" value="E2AF04B839603EBB696FEA10853AF9F8" />
    <add key="requestUrl" value="http://39.107.59.151/form/pay" />
    <!--游戏服务器地址-->
    <add key="SutHttpServer" value="http://127.0.0.1:8080/Service/?data=" />
    <!--微信-->
    <add key="APPID" value="wx453b52ccab4943d0" />
    <add key="MCHID" value="1494091852" />
    <add key="KEY" value="e0a953c3ee6040eaa9fae2b667060e09" />
    <add key="APPSECRET" value="313a56979885c75e64d4e28e7889dcfe" />
  </appSettings>
  <connectionStrings>
    <!--<add name="Carzy2018Context" providerName="MySqlDataProvider" connectionString="Data Source=localhost;Database=snscenter;Uid=root;Pwd=123456;port=3306;" />
    <add name="MyContext" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=crazySystem2018; Uid=root;Password=123456;port=3306;" />
    <add name="chesscarddbEntities" connectionString="metadata=res://*/ChessCardDB.csdl|res://*/ChessCardDB.ssdl|res://*/ChessCardDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=123456;persistsecurityinfo=True;database=chesscarddb&quot;" providerName="System.Data.EntityClient" />
    <add name="texas_2021Entities" connectionString="metadata=res://*/Crazy2018DB.csdl|res://*/Crazy2018DB.ssdl|res://*/Crazy2018DB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=123456;persistsecurityinfo=True;database=crazy2018&quot;" providerName="System.Data.EntityClient" />
    <add name="snscenterEntities" connectionString="metadata=res://*/Crazy2018SnsCenter.csdl|res://*/Crazy2018SnsCenter.ssdl|res://*/Crazy2018SnsCenter.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=123456;database=snscenter;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--正式服地址-->
    <add name="Carzy2018Context" providerName="MySqlDataProvider" connectionString="Data Source=rm-uf6j4wiu7q5ti9m8xvo.mysql.rds.aliyuncs.com;Database=snscenter;Uid=root;Pwd=!Zq123456789;port=3306;" />
    <add name="MyContext" providerName="MySql.Data.MySqlClient" connectionString="Server=rm-uf6j4wiu7q5ti9m8xvo.mysql.rds.aliyuncs.com;Database=crazySystem2018; Uid=root;Password=!Zq123456789;port=3306;" />
    <add name="chesscarddbEntities" connectionString="metadata=res://*/ChessCardDB.csdl|res://*/ChessCardDB.ssdl|res://*/ChessCardDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=rm-uf6j4wiu7q5ti9m8xvo.mysql.rds.aliyuncs.com;user id=root;password=!Zq123456789;persistsecurityinfo=True;database=chesscarddb&quot;" providerName="System.Data.EntityClient" />
    <add name="texas_2021Entities" connectionString="metadata=res://*/Crazy2018DB.csdl|res://*/Crazy2018DB.ssdl|res://*/Crazy2018DB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=rm-uf6j4wiu7q5ti9m8xvo.mysql.rds.aliyuncs.com;user id=root;password=!Zq123456789;persistsecurityinfo=True;database=crazy2018&quot;" providerName="System.Data.EntityClient" />
    <add name="snscenterEntities" connectionString="metadata=res://*/Crazy2018SnsCenter.csdl|res://*/Crazy2018SnsCenter.ssdl|res://*/Crazy2018SnsCenter.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=rm-uf6j4wiu7q5ti9m8xvo.mysql.rds.aliyuncs.com;user id=root;password=!Zq123456789;database=snscenter;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <!--测试服地址-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.12.0" newVersion="6.9.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider></providers>
  </entityFramework>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>