@{
    Layout = "~/Views/Shared/_LayoutExtension.cshtml";
    ViewBag.Title = "你不知道的小技巧";
}
<div class="col-lg-12 col-md-12 col-sm-12 center-notice recdiv" style="margin-top:11%">

    <div class="titlelogo">
        <p style="color:#B79569;margin:0 auto;font-weight:bold">一些你不知道的小技巧实用性太高啦</p>
    </div>



</div>
