
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoticeList</title>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/downpageimg/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .noticetitle {
            padding: 10px 10px 0 10px;
        }
        .img-responsive {
            display: block;
            height: auto;
            max-width: 100%;
        }
    </style>
</head>
<body>

    <ul class="media-list">
        <li class="media">
            <div class="media-body row" style="   background-image: url('/downpageimg/NoticeImgs/bg.jpg');width:auto;height:auto;">
                <div class="noticetitle col-lg-12 col-md-12 col-sm-12">
                    <img src="~/downpageimg/NoticeImgs/hb.png" class="img-responsive" />
                </div>

                <div class="noticetitle col-lg-12 col-md-12 col-sm-12">

                    <a href="~/Game/NoticeContent"><img src="~/downpageimg/NoticeImgs/fanhuocard.png" class="img-responsive" /></a>
                </div>
                <div class="noticetitle col-lg-12 col-md-12 col-sm-12">

                    <a href="~/Game/NoticeMTTContent"><img src="~/downpageimg/NoticeImgs/jbs.png" class="img-responsive" /></a>
                </div>
                <div class="noticetitle col-lg-12 col-md-12 col-sm-12">

                    <img src="~/downpageimg/NoticeImgs/fzbxt.png" class="img-responsive" />
                </div>
                <div class="noticetitle col-lg-12 col-md-12 col-sm-12">

                    <a class="btn btn-warning" href="uniwebview://host?apkSite=106.12.101.44:83/&param2=value2" target="_blank">下载地址!</a>
                </div>

            </div>
        </li>
    </ul>
</body>
</html>
