
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "339游戏合伙人招募";
}
<style>
    .recdiv li {
        list-style-type: none;
    }
    .recdiv p {
        font-size: 16px;
        color: #564A42;
        font-weight: 400;
        padding-top: 7px;
    }
</style>

<div class="col-lg-12 col-md-12 col-sm-12 center-notice recdiv" style="margin-top:11%">

    <div class="titlelogo">
        <img src="~/downpageimg/NoticeImgs/zhaomutitle.png" style="height:30px" />
    </div>
    <div class="titlelogo">
        <img src="~/downpageimg/NoticeImgs/hua.png" style="height:18px" />
    </div>
    <p></p>

    <p class="pleft " style="color:#564A42;"><span style="color:#564A42;font-weight:bold;font-size:16px">1、</span> 339游戏平台是大型麻将约局平台，可以为你的圈子提供棋牌娱乐的空间，为你提供赚钱的机会，你只需要向我们的商务申请开通代理权限即可。</p>
    <p class="pleft " style="color:#564A42;"><span style="color:#564A42;font-weight:bold;font-size:16px">2、</span>代理开放后，玩家通过扫描你的二维码，下载339游戏后，自动成为你的下级，永久享受下级收益。</p>
    <p class="pleft " style="color:#564A42;"><span style="color:#564A42;font-weight:bold;font-size:16px">3、</span>会员上下分，可以直接走我们平台充值通道上下分，方便快捷，也可以由合伙人自己向玩家转账。</p>
    <p class="pleft " style="color:#564A42;"><span style="color:#564A42;font-weight:bold;font-size:16px">4、</span>平台不参与游戏，实行抽水制，每次抽水你可以获得的比列收益（详情查看代理待遇标准）。</p>
    <p class="pleft " style="color:#564A42;"><span style="color:#564A42;font-weight:bold;font-size:16px">5、</span>合伙人有专门后台，可以查看下级玩家信息，每日新增，每日数据报表等信息。</p>
    <p class="pleft " style="color:#564A42;"><span style="color:#564A42;font-weight:bold;font-size:16px">6、</span>你不需要向我们缴纳任何费用，你只需要发展自己的成员并组织他们游戏即可。</p>

</div>
