
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "代理加盟合作共赢";
}
<style>
    .windiv li {
        list-style-type: none;
    }
    .windiv  p {
        color: #564A42;
        font-size: 14px;
        margin-top: 7px;
    }
    .divimgwin {
        background-image: url(../../downpageimg/NoticeImgs/juxing-1.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
</style>

<div class="col-lg-12 col-md-12 col-sm-12 center-notice windiv" style="margin-top:11%">

    <div class="titlelogo">
        <img src="~/downpageimg/NoticeImgs/win.png" style="height:70%" />

    </div>
    <div class="titlelogo">
        <img src="~/downpageimg/NoticeImgs/hua.png" style="height:18px" />
    </div>
    <p></p>
    <div class="divimgwin">
        <p class="pcenter" style="padding:10px;font-weight:700;margin-top:10px;font-size:15px;color:#B57254"> 所有代理都可以升级为合伙人，合伙人条件为：代理拥有100名直属有效玩家（玩家打满100局以上为有效玩家），即可联系客服升级为合伙人。</p>
    </div>

    <p class="pleft " style="margin-top:15px;"><span style="color:#B57253;font-weight:bold;">1、玩家与代理关系：</span> 	玩家扫描代理邀请码下载游戏永久绑定上下級关系，代理永久获得玩家游戏产生的紅利。即使玩家卸载游戏再扫描其他代理的邀 请码下載，绑定关系不变。</p>
    <p class="pleft " style="margin-top: 15px;"><span style="color:#B57253;font-weight:bold"> 2、 代理红利提取：</span>成为代理后不能直接提取红利，必要条件剧： 拥有5个玩家，而且每个玩家必须打满100手（大约为半个小时场2 局）满足此条件即可領取红利。</p>
    <p class="pleft " style="margin-top: 15px;"> <span style="color:#B57253;font-weight:bold">3、代理与代理红利关系</span></p>
    <ul style="text-align:left;padding-left:15%">
        <li>
            <span style="color:#D1601A;font-weight:bold">合伙人 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20%</span>
        </li>
        <li>
            <span style="color:#D1601A;font-weight:bold">一级代理 &nbsp;&nbsp;&nbsp;&nbsp;60%</span>
        </li>
        <li>
            <span style="color:#D1601A;font-weight:bold">二级代理 &nbsp;&nbsp;&nbsp;&nbsp;12%</span>
        </li>
        <li>
            <span style="color:#D1601A;font-weight:bold">三级代理 &nbsp;&nbsp;&nbsp;&nbsp;8%</span>
        </li>
    </ul>
    <p class="pleft " style="margin-top: 15px;">获得代理红利分为三级收益和合伙人业绩收益</p>
    <p class="pleft " style="">一级代理（我）：我可以直接获得直属玩家产生红利的60%</p>
    <p class="pleft " style="">二级代理（我开发的代理）：我可以获得二级代理直属玩家产生红利的12%</p>
    <p class="pleft " style="">三级代理（我代理开发的代理）：我可以直接获取三级代理直属玩家产生紅利的8%</p>
    <p class="pleft " style="">合伙人：如果自己是合伙人再获得所有下级红利总和的20%</p>

    <p class="pleft " style="margin-top:15px;"> <span style="color:#B57253;font-weight:bold">4、代理红利产生的方式及分配原則。</span></p>
    <p class="pleft " style="">
        <span style="color:#1A5FD1;font-weight:bold">德州：</span>每局结束后，收取所有贏家获得分數的5%作为牌局红利，赢家的代理和输家代理获得自己玩家输赢的2.5%,然后进行三级红利比例分配，分配到各自代理账号（我的紅利）里面
    </p>
    <p class="pleft " style="margin-top:7px">
        <span style="color:#1A5FD1;font-weight:bold">麻将：</span>每局结束后，收取所有贏家获得分数的4%作为牌局红利，平台与代理线按：平台：35%.代理线：65%比例分配；赢家的代理获得自己玩家红利,然后进行三級红利比例分配，分配到各自代理账号（我的紅利）里面

    </p>
    <p class="pleft " style="margin-top:7px">
        <span style="color:#1A5FD1;font-weight:bold">电玩捕鱼：</span> 按玩家每周盈亏值*50%进行三级比例分配；每周一上午结算至各自代理账号（我的红利）里面
    </p>
</div>
