
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>我的推广</title>
    <link href="~/css/UserExtension.css" rel="stylesheet" />
</head>
<body>
    <div class="UserExtensionBox"> 
        <img src="@ViewBag.htmlpath"/>
        @*<img src="~/img/20182903102907086.jpg" />*@
    </div>
</body>
</html>
