html, body{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
}
.PayCont{
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: '微软雅黑', '黑体', '宋体', arial;
}
header{
    width: 100%;
    height: 50px;
    border-bottom:1px solid #d9d9d9;
    text-align: center;
    line-height: 50PX;
    font-size: 18px;
    position: relative;
}
.fanhui{
    position: absolute;
    width:30px;
    height: 50px; 
}
.fanhui img{
   width: 100%; 
   height: 60%;
   margin-top: 10px;
   margin-left: 6px;
}
.imgLog{
    width: 100px;
    height: 100px;
    background: url('/img/newchongzhi_biaoti.png');
    background-size: 100% 100%;
    margin: auto;
    border-top: 30px solid #fff;
}
.ContBox{
    width:100%;
    margin-top: 35px;
}
.ContList{
    margin: auto;
    width: 90%;
    padding: 0;
    height: 110px;
    list-style-type: none;
    /* background-color: red; */
}
.ContList li{
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #d9d9d9;
    border-top:1px solid #d9d9d9;
    position: relative;
}
.ContList li:nth-child(2){
    border-top:0;
}

.selectImg{
    float: right;
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius:100%; 
    padding-top: 12px;
}
.imgCnt{
    width: 100%;
    height: 100%;
    display: block;
}
.selectCnt{
    float: left;
    width: 30px;
    height: 28px;
    background: url('/img/weixin2.png');
    background-size: 100% 100%;
    display: inline-block;
    /* margin-left: 25px; */
    margin-top: 15px;
}
.selectCnt1{
    float: left;
    width: 30px;
    height: 28px;
    background: url('/img/zhifubao.png');
    background-size: 100% 100%;
    display: inline-block;
    /* margin-left: 25px; */
    margin-top: 15px;
}
.selectCnt2{
    float: left;
    width: 30px;
    height: 28px;
    background: url('/img/yl.png');
    background-size: 100% 100%;
    display: inline-block;
    /* margin-left: 25px; */
    margin-top: 15px;
}
.imgselect{
    width: 100%;
    height: 100%;
    display: block;
   
}
.selectName{
    float: left;
    width:40%;
    height: 100%; 
    margin-left:25px; 
    line-height:50px
}
.quebtn{
    width: 45%;
    height: 50px;
    margin: 25% 27% 0 27%;
    border-radius: 5px;
    background-color: #eee;
    line-height: 50px;
    text-align: center;
    color: #fff;
}
