<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../../scripts/artdialog/ui-dialog.css" rel="stylesheet" type="text/css" />
    <link href="../skin/default/style.css" rel="stylesheet" type="text/css" />
    <link href="../../css/pagination.css" rel="stylesheet" type="text/css" />
    <link href="~/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    @*<script type="text/javascript" src="../../scripts/jquery/jquery-1.11.2.min.js"></script>*@
    <script src="~/scripts/jquery/jquery.js"></script>
    <script src="~/scripts/jquery.signalR-2.4.1.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/scripts/websocket/Init.js"></script>
    <script type="text/javascript" src="../../scripts/artdialog/dialog-plus-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/laymain.js"></script>
    <script src="~/js/laydate.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/common.js"></script>
    <script src="~/js/layer/layer.js"></script>
    <script src="~/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/js/highcharts/highcharts.js"></script>
    <script src="~/js/highcharts/modules/exporting.js"></script>


</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
