<div class="p-foot">
    <p>新天地游戏中心 版权所有</p>
    <p>网络文化经营许可证 浙网文【2019】1574-140号</p>

    <p>适龄提示：16岁以上使用</p>
    <p>新天地网络科技有限公司</p>
</div>
<div class="bottom-nav" style="display: block;">
    <a href="/Manage/Index"><em class="index on"></em><span>首页</span></a>
    <a href="/Home/downpage"><em class="download"></em><span>下载</span></a>
    <a href="/Home/Recharge"><em class="topup"></em><span>个人中心</span></a>
    <a href="/Home/News"><em class="news"></em><span>新闻</span></a>
    <a href="/Home/help"><em class="help"></em><span>帮助</span></a>
</div>
<a target="_blank" href="http://www.58801am.com/service.html" class="right-service">
    <span class="txt">客服</span>
</a>
