<!DOCTYPE html>
<!-- saved from url=(0026)http://m.91y.com/download/ -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750,target-densitydpi=device-dpi,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>游戏中心</title>
    <link href="~/91Resources/css/91y_phone.css" rel="stylesheet" type="text/css">
    <link href="~/91Resources/css/91y_public.css" rel="stylesheet" type="text/css">
    <script language="javascript" src="~/91Resources/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
       

        $(document).ready(function () {
            //getDownlist();
            $(".bottom-nav .download").addClass("on");
        });</script>
</head>
<body>
    <div class="p-box">
        <div class="gl-head"><h2>精选游戏中心</h2></div>
        <div class="gamelit">
            <ul id="gamelist">
                <li>
                    <a href="/Home/downpagedetails">
                        <div class="g-cot">
                            <em class="icon"><img src="~/91Resources/images/163120180514102655.jpg"></em>
                            <h4 class="name">新天地</h4><p class="txt">要玩就来新天地网络 ，斗地主、麻将、捕鱼……您想要的棋牌游戏应有尽</p>
                        </div>
                        <span class="bg"><img src="~/91Resources/images/game_bg07.png"></span>
                    </a>
                </li>
                <li>
                    <a href="/Home/downpagedetails">
                        <div class="g-cot">
                            <em class="icon"><img src="~/91Resources/images/564720180912070348.jpg"></em>
                            <h4 class="name">龙珠捕鱼</h4><p class="txt">延续街机经典，专属屠龙玩法，3D极致体验，开创新天地捕鱼新时代</p>
                        </div>
                        <span class="bg"><img src="~/91Resources/images/game_bg02.png"></span>
                    </a>
                </li>
                <li>
                    <a href="/Home/downpagedetails">
                        <div class="g-cot">
                            <em class="icon"><img src="~/91Resources/images/363520171206013804.jpg"></em>
                            <h4 class="name">快乐电玩捕鱼</h4><p class="txt">操作简单，自动发炮，全新改版！最好玩的万炮街机捕鱼！</p>
                        </div>
                        <span class="bg"><img src="~/91Resources/images/game_bg03.png"></span>
                    </a>
                </li>
                <li>
                    <a href="/Home/downpagedetails">
                        <div class="g-cot">
                            <em class="icon">
                                <img src="~/91Resources/images/558020180411031445.jpg">
                            </em><h4 class="name">快乐打地鼠</h4>
                            <p class="txt">简单上手，高倍奖励，画面精致！独创水果卡/宝藏等新玩法</p>
                        </div><span class="bg">
                            <img src="~/91Resources/images/game_bg04.png">
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/Home/downpagedetails">
                        <div class="g-cot">
                            <em class="icon"><img src="~/91Resources/images/213920190429105639.jpg"></em>
                            <h4 class="name">就要玩捕鱼</h4><p class="txt">经典万炮街机模式，全新刺激道具模式，金币鱼雷爆不停。</p>
                        </div>
                        <span class="bg"><img src="~/91Resources/images/game_bg06.png"></span>
                    </a>
                </li>
                <li>
                    <a href="/Home/downpagedetails">
                        <div class="g-cot">
                            <em class="icon"><img src="~/91Resources/images/163120180514102655.jpg"></em>
                            <h4 class="name">就要斗地主</h4><p class="txt">全新版本，劲爆来袭，紧张刺激的比赛带你走上人生巅峰！</p>
                        </div>
                        <span class="bg"><img src="~/91Resources/images/game_bg07.png"></span>
                    </a>
                </li>
            </ul>
        </div>
        <!----------------------------------版权----------------------------------->
        @Html.Partial("footer")
    </div>
    
</body>
</html>