
@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0045)http://m.91y.com/login/index.html?jp=recharge -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750,target-densitydpi=device-dpi,user-scalable=no">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0" />-->
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>游戏中心</title>
    <link type="text/css" href="~/91Resources/css/nc.css" rel="stylesheet" disabled="">
    <link href="~/91Resources/css/91y_phone.css" rel="stylesheet" type="text/css">
    <link href="~/91Resources/css/91y_public.css" rel="stylesheet" type="text/css">
    <script src="~/91Resources/js/um.js" id="AWSC_umidPCModule"></script>
    <script src="~/91Resources/js/120.js" id="AWSC_uabModule"></script>
    <script src="~/91Resources/js/hm.js"></script>
    <script type="text/javascript" class="nc-required-js-1 nc-uab-script" src="~/91Resources/js/awsc.js"></script>

    <script type="text/javascript" src="~/91Resources/js/nc.js"></script>

    <script language="javascript" src="~/91Resources/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
        var obj = {};
        var ActiveCode = "";
        $(function () {

             ActiveCode = request("ActiveCode");
            if (ActiveCode != "" && ActiveCode != null)
            {
                $("#aCode").val(ActiveCode); $("#aCode").attr("disabled",true);
            }

            if ($(document.body).outerWidth(true) > 641) {
                $("#phoneorpc").css("overflow", "visible");
            } else {
                $("#phoneorpc").css("overflow", "hidden")
            }

            $("#loginBtn").click(function () {
                loginBtn();
            });
            $("#imgObj").click(function () {
                var _this = this

                var phone = $("#phone").val();
                var phonereg = /^0?1[3|4|5|8|7|6][0-9]\d{8}$/;//手机
                if (!phonereg.test(phone)) {
                    alert('请填写正确的手机号码')
                    return false;

                }

                var data = {};
                data.phoneNum = phone;
                $.ajax({
                    type: "post", url: '/Manage/SendCode',
                    datatype: 'json',
                    data: data,
                    success: function (res) {

                        if (res) {
                            if (res != "手机号码不正确") {
                                if (res != "当前手机号码已经注册") {
                                    if (res != "发送失败") {
                                        settime(_this);
                                    } else {
                                        alert(res)
                                    }
                                } else {
                                    alert(res)
                                }
                            } else {
                                alert(res)
                            }
                        } else {
                            alert(res)
                        }
                    }
                })
            })
        });

        function downlreg() {

            window.location.href = "http://download.narhai.com:88?ActiveCode=" + ActiveCode;
        }
        function request(paras) {
            var url = location.href;
            var paraString = url.substring(url.indexOf("?") + 1, url.length).split("&");
            var paraObj = {}
            for (i = 0; j = paraString[i]; i++) {
                paraObj[j.substring(0, j.indexOf("=")).toLowerCase()] = j.substring(j.indexOf("=") + 1, j.length);
            }
            var returnValue = paraObj[paras.toLowerCase()];
            if (typeof (returnValue) == "undefined") {
                return "";
            } else {
                return returnValue;
            }
        }

        function loginBtn() {
            var data = {};
            var password1 = $("#mypassword").val();
            var lkl3 = $("#VPwd").val();
            var myPhone = $("#phone").val()
            var remypassword = $("#remypassword").val();
            var phonereg = /^0?1[3|4|5|8|7|6][0-9]\d{8}$/;//手机
            var aCode = $("#aCode").val();
            if (!phonereg.test(myPhone)) {
                alert('请填写正确的手机号码');
                return false;
            }
            if (password1.length <= 0) {
                alert('请输入密码');
                return false;
            }
            if (password1 != remypassword) {
                alert('两次输入密码不一致');
                return false;
            }
            if (aCode == "" || aCode==null) {
                alert('请输入上级邀请码');
                return false;
            }
            if (lkl3=="") {
                alert('请输入正确验证码');
                return false;
            }
            data.Phone = myPhone;
            data.Password = remypassword;
            data.type = 0;
            data.Verification = lkl3;
            data.recommend = aCode;
            $.ajax({
                type: "post", url: '/Manage/RegisterCommit',
                datatype: 'json',
                data: data,
                success: function (res) {
                    if (res) {
                        if (res === "注册成功") {
                            alert("注册成功")
                            window.location.href = "http://download.narhai.com:88/";
                        }
                        else {
                            alert(res)
                        }
                    }
                }
            });
        }

        var countdown = 60;

        function settime(obj) {
            if (countdown == 0) {
                obj.removeAttribute("disabled");
                obj.value = "发送验证码";
                countdown = 60;
                return;
            } else {
                obj.setAttribute("disabled", true);
                obj.value = "(" + countdown + ")后重发";
                countdown--;
            }
            setTimeout(function () {
                settime(obj)
            }, 1000)
        }

    </script>
    <script type="text/javascript">
        var isMobile = {

            Android: function () {
                return navigator.userAgent.match(/Android/i) ? true : false;
            },
            BlackBerry: function () {
                return navigator.userAgent.match(/BlackBerry/i) ? true : false;
            },
            iOS: function () {
                return navigator.userAgent.match(/iPhone|iPad|iPod/i) ? true : false;
            },
            Windows: function () {
                return navigator.userAgent.match(/IEMobile/i) ? true : false;
            },
            any: function () {
                return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Windows());
            },
            PC: function () {
                var userAgentInfo = navigator.userAgent;
                var Agents = new Array("Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod");
                var flag = true;
                for (var v = 0; v < Agents.length; v++) {
                    if (userAgentInfo.indexOf(Agents[v]) > 0) {
                        flag = false;
                        break;
                    }
                }
                return flag;
            }
        };

        function getUrlParams(par) {
            if (par == '')
                return null;
            var reg = new RegExp("(^|&)" + par + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null)
                return r[2];

            return null;
        }



        $(document).ready(function () {
            $(".js-zh,.js-mm").blur(function () {
                var txt = $(this).val();
                if (txt == '' || txt == null) {
                    $(this).parent('li').find('.js-tip').fadeIn(2000).fadeOut(1000);
                    //$(this).parent('li').find('.js-tip').fadeToggle(3000);
                }
            }).focus(function () {
                $(this).parent('li').find('.js-tip').hide();
            });
        })</script>
    <style>
        body, html {
            height: 1920px;
            width:100%;
        }
        .box-regist {
            /*  background-image: url(../../img/regist/图层-3.jpg);*/
            background-repeat: repeat-y;
            background-size: contain;
            background-color: #F7F7F7;
        }
        .menbackimg {
            background: url(../../img/regist/图层-240.jpg) no-repeat;
            background-size: cover;
            height: 380px;
            text-align: center; /*让div内部文字居中*/
            padding-top: 14%;
        }
        .logo-regist {
            width: 380px;
            height: 190px;
            background: url(../../img/regist/logo.png) no-repeat;
            /*margin: 50px auto 70px;*/
            background-size: contain;
            /*margin-top: 150px;*/
            margin:0 auto;
        }

        .ipt-regist {
            width: 82%;
            height: 56px;
            border: none;
            color: #705A4C;
            text-indent: 35px;
            outline: none;
            font-size: 42px;
            margin-left: 8%;
            margin: 0 6% 0 7%;
            border-bottom: 3px solid #c1996e;
        }

        .input-icon {
            /*background-image: url(../../img/regist/手机.png);*/ /*设置小图标*/
            /*background-position: 16px 0px;*/ /*小图标在input的位置*/
            /*background-repeat: no-repeat;*/ /*背景小图标不重复*/
            padding: 8px 10px 8px 50px; /*设置input内边距*/
            background-color: #F7F7F7;
        }

        .input-icon-1 {
            background-image: url(../../img/regist/密码.png); /*设置小图标*/
            background-position: 16px 0px; /*小图标在input的位置*/
            background-repeat: no-repeat; /*背景小图标不重复*/
            padding: 8px 10px 8px 50px; /*设置input内边距*/
            background-color: #F7F7F7;
        }

        .input-icon-2 {
            background-image: url(../../img/regist/验证码.png); /*设置小图标*/
            background-position: 16px 0px; /*小图标在input的位置*/
            background-repeat: no-repeat; /*背景小图标不重复*/
            padding: 8px 10px 8px 50px; /*设置input内边距*/
            background-color: #F7F7F7;
        }

/**/
        .input-r-icon-guan {
          /*  width: 50px;
            height: 32px;
            position: relative;
            left: 100%;
            top: -60px;
            background-image: url(../../img/regist/关闭.png);
            background-size: contain;
            background-repeat: no-repeat;*/
            border: none;
        }
            .input-r-icon-guan img {
                width: 38px;
                height: 38px;
                position: relative;
                left: 90%;
                top: -70px;
                /*    background-image: url(../../img/regist/关闭.png);*/
                background-size: contain;
                background-repeat: no-repeat;
                border: none;
            }
        .input-r-icon {
          /*  width: 50px;
            height: 32px;
            position: relative;
            left: 100%;
            top: -60px;
            background-image: url(../../img/regist/闭眼-拷贝.png);
            background-size: contain;
            background-repeat: no-repeat;*/
            border: none;
        }
            .input-r-icon img {
                width: 38px;
                height: 30px;
                position: relative;
                left: 90%;
                top: -60px;
                /*    background-image: url(../../img/regist/闭眼-拷贝.png);*/
                background-size: contain;
                background-repeat: no-repeat;
                border: none;
            }


        .input-r-icon-1 img {
            width: 38px;
            height: 30px;
            position: relative;
            left: 90%;
            top: -60px;
            /*  background-image: url(../../img/regist/眼睛.png);*/
            background-size: contain;
            background-repeat: no-repeat;
            border: none;
        }

        .content li {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
            color: #A69388;
            font-size: 36px;
            text-align: left;
        }

        input:-moz-placeholder, textarea:-moz-placeholder {
            color: #A69388;
            text-align: left;
            font-size: 36px;
            font-weight: 200;
        }

        input::-moz-placeholder, textarea::-moz-placeholder {
            color: #A69388;
            text-align: left;
            font-size: 36px;
            font-weight: 200;
        }

        input:-ms-input-placeholder, textarea:-ms-input-placeholder {
            color: #A69388;
            text-align: left;
            font-size: 36px;
            font-weight: 200;
        }

        .login-btn-regist {
            width: 550px;
            height: 90px;
            line-height: 80px;
            background-image: url(../../img/regist/圆角矩形-1-拷贝.png);
            background-repeat: round;
            background-size: auto;
            font-size: 40px;
            display: block;
            margin: 0px auto;
            color: #fff;
            border-radius: 50px;
            text-align: center;
            margin: 80px auto 20px;
            overflow: hidden;
        }

        .pordAttr {
            width: 100%;
            height: 150px;
            background-color: #393A3E;
            color: #fff;
            font-size: 42px;
        }

            .pordAttr .cont-cl {
                padding: 50px 10px;
            }
        .login-box .content li {
             margin:  0; 
         
        }
        body {
            background-color: #F7F7F7;
        }
        .content li {
        width:96%;
        }
        .input-r-icon-ic {
            position: absolute;
            border: none;
            left: 9%;
            top: -50px;
        }
        .input-r-icon-ic img {
            width: 35px;
            height: 46px;
            position: relative;
            left: 6%;
            top: 60px;
            background-size: contain;
            background-repeat: no-repeat;
            border: none;
        }
    </style>

</head>
<body>
    <!-- 此段必须要引入 -->
    <div id="_umfp" style="display:inline;width:1px;height:1px;overflow:hidden"></div>
    <!-- 引入结束 -->
    <div class="p-box" style="width:100%">

        <div class="login-box box-regist">
            @*<div id="pordAttr" class="pordAttr">
                    <div class="cont-cl">
                        <div class="" style="float:left;width:15%;height:72px;border-right:2px solid #323337;text-align:center;font-size:68px;line-height:50px">x</div>
                        <div style="margin-left:10px;float:left;width:80%;height:auto;font-size:45px;line-height:60px;">
                            <span>手机注册--339游戏</span>
                        </div>
                    </div>
                </div>*@
            <div class="menbackimg">
                <div class="logo-regist"></div>
            </div>
          
            <div class="content" style="width:100%">
                <ul>
                    <li>
                        <span class="input-r-icon-ic"><img alt="" style=" height: 50px;" src="~/img/regist/手机.png" /></span>
                        <input type="text" id="phone" class="js-zh ipt-regist input-icon" placeholder="请输入账号"><span class="input-r-icon-guan"><img alt="" src="~/img/regist/关闭.png" /></span>
                        <div class="recharge-tip js-tip" style="display:none;">请输入账号/手机号</div>
                    </li>
                    <li>
                        <span class="input-r-icon-ic"><img alt="" src="~/img/regist/密码.png" /></span>
                        <input type="password" id="mypassword" class="js-mm ipt-regist input-icon" placeholder="请输入6-12个字符以上的密码"><span class="input-r-icon "><img alt="" src="~/img/regist/闭眼-拷贝.png" /></span>
                        <div class="recharge-tip js-tip" style="display:none;">请输入密码</div>
                    </li>
                    <li>
                        <span class="input-r-icon-ic"><img alt="" src="~/img/regist/密码.png" /></span>

                        <input type="password" id="remypassword" class="js-mm ipt-regist input-icon" placeholder="再次输入密码"><span class="input-r-icon"><img alt="" src="~/img/regist/闭眼-拷贝.png" /></span>
                        <div class="recharge-tip js-tip" style="display:none;">请输入密码</div>
                    </li>
                    <li>
                        <span class="input-r-icon-ic"><img alt="" src="~/img/regist/验证码.png" /></span>

                        <input type="text" id="aCode" class="js-mm ipt-regist input-icon" placeholder="请输入上级邀请码">
                    </li>
                    <li style="margin-top: 20px;">
                        <span class="input-r-icon-ic"><img alt="" src="~/img/regist/验证码.png" /></span>

                        <input type="text" style="width:50%;margin-right:0" id="VPwd" class="js-mm ipt-regist input-icon" placeholder="验证码">

                        <input id="imgObj" type="button" value="获取验证码" style="background-color: #F7F7F7; width: 30%; height: 65px; position: absolute; margin-top: 10px; margin-left: 20px; line-height: 80px; color: #54A954; border: none; border-bottom: 4px solid #54A954; font-size: 38px;" />

                    </li>
                </ul>
            </div>


            <a class="login-btn-regist" id="loginBtn" >注册</a>


            <!----------------------------------版权----------------------------------->
            @*@Html.Partial("footer")*@
        </div>
    </div>
    <div class="p-box" style="background-color:#fff">
        <div style="position:fixed ; bottom:0px;width:100%;left:0px;background-color: #fff;">
            <a class="login-btn-regist" style="margin-top:38px" id="logindown" onclick="downlreg()">立即下载</a>
        </div>
    </div>
    <!-- 此段必须要引入 -->
    <style type="text/css" class="nc-style">
        .nc-container #nc_1_wrapper, .nc-container.tb-login #nc_1_wrapper {
            width: 300px
        }

        .nc-container .imgCaptcha, .nc-container .clickCaptcha {
            width: 298px;
        }

        .nc-container.tb-login .imgCaptcha, .nc-container.tb-login .clickCaptcha {
            width: 300px;
        }

            .nc-container.tb-login .imgCaptcha .captcha-error, .nc-container.tb-login .clickCaptcha .captcha-error {
                width: 292px;
            }

        .nc-container.tb-login .errloading, .nc-container .errloading {
            width: 290px;
        }
    </style>
    <script>
        function() {

            
        }

        var nc = new noCaptcha();
        var nc_appkey = 'FFFF00000000016860BF'; // 应用标识,不可更改
        var nc_scene = 'login'; //场景,不可更改
        var nc_token = [nc_appkey, (new Date()).getTime(), Math.random()].join(':');
        var nc_option = {
            renderTo: '#dom_id', //渲染到该DOM ID指定的Div位置
            appkey: nc_appkey,
            scene: nc_scene,
            token: nc_token,
            callback: function (data) {// 校验成功回调
                document.getElementById('csessionid').value = data.csessionid;
                document.getElementById('sig').value = data.sig;
                document.getElementById('token').value = nc_token;
                document.getElementById('scene').value = nc_scene;
            }
        };
        nc.init(nc_option);</script>
    <!-- 引入结束 -->
    <!-- 此段必须要引入 t为小时级别的时间戳 -->
    <style type="text/css">

        .nc-container #nc_1_wrapper, .nc-container.tb-login #nc_1_wrapper {
            width: 690px;
        }

        .nc_scale {
            width: 650px;
            height: 90px;
            margin: 15px auto;
        }

        .nc-container .nc_scale span {
            width: 80px;
            height: 90px;
            line-height: 90px;
        }

        .nc-container .nc_scale .scale_text {
            height: 90px;
            line-height: 90px;
            font-size: 30px;
        }

        .nc-container .nc_scale .btn_ok {
            line-height: 90px;
            font-size: 30px;
        }

        .nc_iconfont {
            font-size: 30px;
        }
    </style>
    <!-- 引入结束 -->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?64f9bb47cd627a8a4069b1e07b127e1f";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();</script>
    <script></script>
</body>
</html>