
@{
    ViewBag.Title = "news";
}
@using Crazy2018_Sys_Common;
@using Crazy2018_Sys_ViewEntity;
@using Crazy2018_Sys_DBHelper;
@model List<tnotice>

<!DOCTYPE html>
<!-- saved from url=(0029)http://m.91y.com/news/xinwen/ -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750,target-densitydpi=device-dpi,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>91y游戏中心-要玩就要91y</title>
    <link href="~/91Resources/css/91y_phone.css" rel="stylesheet" type="text/css">
    <link href="~/91Resources/css/91y_public.css" rel="stylesheet" type="text/css">
    <script language="javascript" src="~/91Resources/js/jquery-1.7.1.min.js"></script>
</head>
<body>
    <div class="p-box">
        <div class="news-head">
            <a href="/Home/News" class="on">新闻资讯</a>
            <a href="/Home/gonggao">游戏公告</a>

        </div>
        <div class="newsphoto-list">
            <ul>
                @foreach (var item in Model)
                {
                    <li>
                        <a href="/Home/NewsDetails?id=@item.id">
                            <span class="photo"><img src="~/91Resources/images/defaultpic.gif"></span>
                            <div class="txt">
                                <p class="title"><b>@item.title</b></p>
                                <p class="cot">@Utils.CutString(item.content,80)</p>
                            </div>
                        </a>
                    </li>
                }

            </ul>
        </div>

        <!----------------------------------版权----------------------------------->
        @Html.Partial("footer")
    </div>
    <script type="text/javascript">
    $(document).ready(function () {
            $(".bottom-nav .news").addClass("on");
        })</script>

</body>
</html>