Bin/App.deps.json
Bin/App.dll
Bin/App.dll.config
Bin/App.exe
Bin/App.pdb
Bin/App.runtimeconfig.dev.json
Bin/App.runtimeconfig.json
Bin/BouncyCastle.Crypto.dll
Bin/CommandLine.dll
Bin/DnsClient.dll
Bin/Google.Protobuf.deps.json
Bin/Google.Protobuf.dll
Bin/Google.Protobuf.pdb
Bin/ICSharpCode.SharpZipLib.dll
Bin/K4os.Compression.LZ4.dll
Bin/K4os.Compression.LZ4.Streams.dll
Bin/K4os.Hash.xxHash.dll
Bin/KcpLib.deps.json
Bin/KcpLib.dll
Bin/KcpLib.pdb
Bin/libkcp.dylib
Bin/libkcp.so
Bin/Microsoft.AspNetCore.Http.Abstractions.dll
Bin/Microsoft.AspNetCore.Http.dll
Bin/Microsoft.AspNetCore.Http.Extensions.dll
Bin/Microsoft.AspNetCore.Http.Features.dll
Bin/Microsoft.AspNetCore.WebUtilities.dll
Bin/Microsoft.CodeAnalysis.CSharp.dll
Bin/Microsoft.CodeAnalysis.CSharp.Scripting.dll
Bin/Microsoft.CodeAnalysis.dll
Bin/Microsoft.CodeAnalysis.Scripting.dll
Bin/Microsoft.Extensions.Caching.Abstractions.dll
Bin/Microsoft.Extensions.Caching.Memory.dll
Bin/Microsoft.Extensions.Configuration.Abstractions.dll
Bin/Microsoft.Extensions.Configuration.dll
Bin/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Bin/Microsoft.Extensions.DependencyInjection.dll
Bin/Microsoft.Extensions.FileProviders.Abstractions.dll
Bin/Microsoft.Extensions.Logging.Abstractions.dll
Bin/Microsoft.Extensions.ObjectPool.dll
Bin/Microsoft.Extensions.Options.dll
Bin/Microsoft.Extensions.Primitives.dll
Bin/Microsoft.Net.Http.Headers.dll
Bin/Microsoft.Win32.SystemEvents.dll
Bin/Model.deps.json
Bin/Model.dll
Bin/Model.pdb
Bin/MongoDB.Bson.dll
Bin/MongoDB.Bson.pdb
Bin/MongoDB.Bson.xml
Bin/MongoDB.Driver.Core.dll
Bin/MongoDB.Driver.Core.pdb
Bin/MongoDB.Driver.Core.xml
Bin/MongoDB.Driver.dll
Bin/MongoDB.Driver.GridFS.dll
Bin/MongoDB.Driver.GridFS.pdb
Bin/MongoDB.Driver.GridFS.xml
Bin/MongoDB.Driver.pdb
Bin/MongoDB.Driver.xml
Bin/MySql.Data.dll
Bin/Newtonsoft.Json.dll
Bin/NLog.config
Bin/NLog.dll
Bin/protobuf-net.Core.dll
Bin/protobuf-net.dll
Bin/Renci.SshNet.dll
Bin/ServiceStack.Common.dll
Bin/ServiceStack.Interfaces.dll
Bin/ServiceStack.Redis.dll
Bin/ServiceStack.Text.dll
Bin/SshNet.Security.Cryptography.dll
Bin/System.Configuration.ConfigurationManager.dll
Bin/System.Data.SqlClient.dll
Bin/System.Diagnostics.PerformanceCounter.dll
Bin/System.Drawing.Common.dll
Bin/System.IO.Pipelines.dll
Bin/System.Private.ServiceModel.dll
Bin/System.Security.Cryptography.Pkcs.dll
Bin/System.Security.Cryptography.ProtectedData.dll
Bin/System.Security.Cryptography.Xml.dll
Bin/System.Security.Permissions.dll
Bin/System.ServiceModel.dll
Bin/System.ServiceModel.Primitives.dll
Bin/System.Windows.Extensions.dll
Bin/System.Xml.XPath.XmlDocument.dll
Bin/Ubiety.Dns.Core.dll
Bin/Zstandard.Net.dll
Bin/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
Bin/cs/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Bin/cs/Microsoft.CodeAnalysis.resources.dll
Bin/cs/Microsoft.CodeAnalysis.Scripting.resources.dll
Bin/de/Microsoft.CodeAnalysis.CSharp.resources.dll
Bin/de/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Bin/de/Microsoft.CodeAnalysis.resources.dll
Bin/de/Microsoft.CodeAnalysis.Scripting.resources.dll
Bin/es/Microsoft.CodeAnalysis.CSharp.resources.dll
Bin/es/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Bin/es/Microsoft.CodeAnalysis.resources.dll
Bin/es/Microsoft.CodeAnalysis.Scripting.resources.dll
Bin/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
Bin/fr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Bin/fr/Microsoft.CodeAnalysis.resources.dll
Bin/fr/Microsoft.CodeAnalysis.Scripting.resources.dll
Bin/it/Microsoft.CodeAnalysis.CSharp.resources.dll
Bin/it/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Bin/it/Microsoft.CodeAnalysis.resources.dll
Bin/it/Microsoft.CodeAnalysis.Scripting.resources.dll
Bin/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
Bin/ja/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Bin/ja/Microsoft.CodeAnalysis.resources.dll
Bin/ja/Microsoft.CodeAnalysis.Scripting.resources.dll
Bin/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
Bin/ko/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Bin/ko/Microsoft.CodeAnalysis.resources.dll
Bin/ko/Microsoft.CodeAnalysis.Scripting.resources.dll
Bin/Log/2020_12_22Error.txt
Bin/netcoreapp3.1/MongoDB.Bson.deps.json
Bin/netcoreapp3.1/MongoDB.Bson.dll
Bin/netcoreapp3.1/MongoDB.Bson.pdb
Bin/netcoreapp3.1/MongoDB.Bson.xml
Bin/netcoreapp3.1/MongoDB.Driver.Core.deps.json
Bin/netcoreapp3.1/MongoDB.Driver.Core.dll
Bin/netcoreapp3.1/MongoDB.Driver.Core.pdb
Bin/netcoreapp3.1/MongoDB.Driver.Core.xml
Bin/netcoreapp3.1/MongoDB.Driver.deps.json
Bin/netcoreapp3.1/MongoDB.Driver.dll
Bin/netcoreapp3.1/MongoDB.Driver.GridFS.deps.json
Bin/netcoreapp3.1/MongoDB.Driver.GridFS.dll
Bin/netcoreapp3.1/MongoDB.Driver.GridFS.pdb
Bin/netcoreapp3.1/MongoDB.Driver.GridFS.xml
Bin/netcoreapp3.1/MongoDB.Driver.pdb
Bin/netcoreapp3.1/MongoDB.Driver.xml
Bin/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
Bin/pl/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Bin/pl/Microsoft.CodeAnalysis.resources.dll
Bin/pl/Microsoft.CodeAnalysis.Scripting.resources.dll
Bin/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
Bin/pt-BR/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Bin/pt-BR/Microsoft.CodeAnalysis.resources.dll
Bin/pt-BR/Microsoft.CodeAnalysis.Scripting.resources.dll
Bin/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
Bin/ru/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Bin/ru/Microsoft.CodeAnalysis.resources.dll
Bin/ru/Microsoft.CodeAnalysis.Scripting.resources.dll
Bin/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
Bin/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
Bin/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.PerformanceCounter.dll
Bin/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
Bin/runtimes/win/lib/netcoreapp2.1/System.Security.Cryptography.Pkcs.dll
Bin/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
Bin/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
Bin/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
Bin/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Bin/runtimes/win-arm64/native/sni.dll
Bin/runtimes/win-x64/native/sni.dll
Bin/runtimes/win-x86/native/sni.dll
Bin/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
Bin/tr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Bin/tr/Microsoft.CodeAnalysis.resources.dll
Bin/tr/Microsoft.CodeAnalysis.Scripting.resources.dll
Bin/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
Bin/zh-Hans/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Bin/zh-Hans/Microsoft.CodeAnalysis.resources.dll
Bin/zh-Hans/Microsoft.CodeAnalysis.Scripting.resources.dll
Bin/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
Bin/zh-Hant/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Bin/zh-Hant/Microsoft.CodeAnalysis.resources.dll
Bin/zh-Hant/Microsoft.CodeAnalysis.Scripting.resources.dll
Server/App/obj/Debug/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Server/App/obj/Debug/Server.App.AssemblyInfo.cs
Server/App/obj/Debug/Server.App.AssemblyInfoInputs.cache
Server/App/obj/Debug/Server.App.csprojAssemblyReference.cache
Server/Model/obj/Debug/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Server/Model/obj/Debug/Server.Model.AssemblyInfo.cs
Server/Model/obj/Debug/Server.Model.AssemblyInfoInputs.cache
Server/Model/obj/Debug/Server.Model.csprojAssemblyReference.cache
Server/ThirdParty/Google.Protobuf/obj/Debug/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Server/ThirdParty/Google.Protobuf/obj/Debug/Google.Protobuf.AssemblyInfo.cs
Server/ThirdParty/Google.Protobuf/obj/Debug/Google.Protobuf.AssemblyInfoInputs.cache
Server/ThirdParty/KcpLib/obj/Debug/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Server/ThirdParty/KcpLib/obj/Debug/KcpLib.AssemblyInfo.cs
Server/ThirdParty/KcpLib/obj/Debug/KcpLib.AssemblyInfoInputs.cache
Server/ThirdParty/MongoDBDriver/MongoDB.Bson/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Server/ThirdParty/MongoDBDriver/MongoDB.Bson/obj/Debug/netcoreapp3.1/MongoDB.Bson.AssemblyInfo.cs
Server/ThirdParty/MongoDBDriver/MongoDB.Bson/obj/Debug/netcoreapp3.1/MongoDB.Bson.AssemblyInfoInputs.cache
Server/ThirdParty/MongoDBDriver/MongoDB.Bson/obj/Debug/netcoreapp3.1/MongoDB.Bson.csprojAssemblyReference.cache
Server/ThirdParty/MongoDBDriver/MongoDB.Driver.Core/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Server/ThirdParty/MongoDBDriver/MongoDB.Driver.Core/obj/Debug/netcoreapp3.1/MongoDB.Driver.Core.AssemblyInfo.cs
Server/ThirdParty/MongoDBDriver/MongoDB.Driver.Core/obj/Debug/netcoreapp3.1/MongoDB.Driver.Core.AssemblyInfoInputs.cache
Server/ThirdParty/MongoDBDriver/MongoDB.Driver.Core/obj/Debug/netcoreapp3.1/MongoDB.Driver.Core.csprojAssemblyReference.cache
Server/ThirdParty/MongoDBDriver/MongoDB.Driver.GridFS/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Server/ThirdParty/MongoDBDriver/MongoDB.Driver.GridFS/obj/Debug/netcoreapp3.1/MongoDB.Driver.GridFS.AssemblyInfo.cs
Server/ThirdParty/MongoDBDriver/MongoDB.Driver.GridFS/obj/Debug/netcoreapp3.1/MongoDB.Driver.GridFS.AssemblyInfoInputs.cache
Server/ThirdParty/MongoDBDriver/MongoDB.Driver/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Server/ThirdParty/MongoDBDriver/MongoDB.Driver/obj/Debug/netcoreapp3.1/MongoDB.Driver.AssemblyInfo.cs
Server/ThirdParty/MongoDBDriver/MongoDB.Driver/obj/Debug/netcoreapp3.1/MongoDB.Driver.AssemblyInfoInputs.cache
/Server/App/obj/Debug/Server.App.csproj.CopyComplete
/Server/App/obj/Debug/Server.App.csproj.FileListAbsolute.txt
/Server/Model/obj/Debug/Server.Model.csproj.CopyComplete
/Server/Model/obj/Debug/Server.Model.csproj.FileListAbsolute.txt
/Server/ThirdParty/Google.Protobuf/obj/Debug/Google.Protobuf.csproj.CopyComplete
/Server/ThirdParty/Google.Protobuf/obj/Debug/Google.Protobuf.csproj.FileListAbsolute.txt
/Server/ThirdParty/KcpLib/obj/Debug/KcpLib.csproj.FileListAbsolute.txt
/Server/ThirdParty/MongoDBDriver/MongoDB.Bson/obj/Debug/netcoreapp3.1/MongoDB.Bson.csproj.FileListAbsolute.txt
/Server/ThirdParty/MongoDBDriver/MongoDB.Bson/obj/Debug/netcoreapp3.1/MongoDB.Bson.xml
/Server/ThirdParty/MongoDBDriver/MongoDB.Driver/obj/Debug/netcoreapp3.1/MongoDB.Driver.csproj.CopyComplete
/Server/ThirdParty/MongoDBDriver/MongoDB.Driver/obj/Debug/netcoreapp3.1/MongoDB.Driver.xml
/Server/ThirdParty/MongoDBDriver/MongoDB.Driver/obj/Debug/netcoreapp3.1/MongoDB.Driver.csproj.FileListAbsolute.txt
/Server/ThirdParty/MongoDBDriver/MongoDB.Driver.Core/obj/Debug/netcoreapp3.1/MongoDB.Driver.Core.xml
/Server/ThirdParty/MongoDBDriver/MongoDB.Driver.Core/obj/Debug/netcoreapp3.1/MongoDB.Driver.Core.csproj.FileListAbsolute.txt
/Server/ThirdParty/MongoDBDriver/MongoDB.Driver.Core/obj/Debug/netcoreapp3.1/MongoDB.Driver.Core.csproj.CopyComplete
/Server/ThirdParty/MongoDBDriver/MongoDB.Driver.GridFS/obj/Debug/netcoreapp3.1/MongoDB.Driver.GridFS.xml
/Server/ThirdParty/MongoDBDriver/MongoDB.Driver.GridFS/obj/Debug/netcoreapp3.1/MongoDB.Driver.GridFS.csproj.FileListAbsolute.txt
/Server/ThirdParty/MongoDBDriver/MongoDB.Driver.GridFS/obj/Debug/netcoreapp3.1/MongoDB.Driver.GridFS.csproj.CopyComplete
Server/ThirdParty/Google.Protobuf/obj/Release/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Server/ThirdParty/Google.Protobuf/obj/Release/Google.Protobuf.AssemblyInfo.cs
Server/ThirdParty/MongoDBDriver/MongoDB.Driver.Core/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Server/ThirdParty/MongoDBDriver/MongoDB.Driver.Core/obj/Release/netcoreapp3.1/MongoDB.Driver.Core.AssemblyInfo.cs
Server/ThirdParty/MongoDBDriver/MongoDB.Driver.GridFS/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Server/ThirdParty/MongoDBDriver/MongoDB.Driver.GridFS/obj/Release/netcoreapp3.1/MongoDB.Driver.GridFS.AssemblyInfo.cs
/Server/Model/obj
/Server/App/obj
/Server/.vs
/Server/ThirdParty/MongoDBDriver/MongoDB.Driver/obj
/Server/ThirdParty/MongoDBDriver/MongoDB.Bson/obj
/Server/ThirdParty/KcpLib/obj
/Server/ThirdParty/Google.Protobuf/obj
/Server/ThirdParty/MongoDBDriver/MongoDB.Driver.GridFS/obj
/Server/ThirdParty/MongoDBDriver/MongoDB.Driver.Core/obj
/UnityMJETSDK
/Logs
/Bin
/publish
/GameLog/251
/ContorlLog
/Config/StartConfig/LocalAllServer.txt
/.vs
/Tools/Proto2CS/obj
/GameLog
/GameLog/301/57044_2021_1_29.txt
/UnityMJETSDK/.vs
/Tools/Tools/Tools/obj
/runsa.sh
/runb.sh
/runa.sh
/check.sh
/stop.sh
/Tools/Tools/.vs/Tools/v17
/Tools/Tools/.vs/Tools/DesignTimeBuild
