<!DOCTYPE html>
<html style="height: auto; min-height: 100%;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="imagetoolbar" content="no">
    <title>游戏</title>
    <!-- CSS -->
    <link href="~/js/css/animate.css" rel="stylesheet" />
    <link href="~/js/css/master.css" rel="stylesheet" />
    <link href="~/js/css/style.css" rel="stylesheet" />
    <link href="~/js/layer/mobile/need/layer.css" rel="stylesheet" />
    <!-- sweetalert -->
    <script src="~/js/layer/layer.js"></script>
    <link href="~/js/css/sweetalert.min.css" rel="stylesheet" />
    <script src="~/js/sweetalert.min.js"></script>

    <style id="tsbrowser_video_independent_player_style" type="text/css">

        [tsbrowser_force_max_size] {
            width: 100% !important;
            height: 100% !important;
            left: 0px !important;
            top: 0px !important;
            margin: 0px !important;
            padding: 0px !important;
            transform: none !important;
        }

        [tsbrowser_force_fixed] {
            position: fixed !important;
            z-index: 9999 !important;
            background: black !important;
        }

        [tsbrowser_force_hidden] {
            opacity: 0 !important;
            z-index: 0 !important;
        }

        [tsbrowser_hide_scrollbar] {
            overflow: hidden !important;
        }

        [tsbrowser_display_none] {
            display: none !important;
            visibility: hidden !important;
            opacity: 0 !important;
        }

        [tsbrowser_force_show] {
            display: black !important;
            visibility: visible !important;
            opacity: 0;
        }
    </style>
    <!-- slider -->
    <link href="~/js/css/slick.css" rel="stylesheet" />
    <link href="~/js/css/slick-theme.css" rel="stylesheet" />
    <!-- RWD -->
    <!-- jQuery 3 -->
    <script src="~/js/jquery.min.js"></script>

    <!-- Bootstrap 3.3.7 -->

    <script src="~/js/bootstrap/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <!--iCheck -->
    <script src="~/js/icheck.min.js"></script>
    <!--common-->
    <script src="~/js/common.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/daterangepicker.js"></script>
    <!--slider-->
    @*<script src="~/js/slick.min.js"></script>*@
    @*<script src="~/js/jquery-2.1.1.min.js" type="text/javascript"></script>
        <script src='~/js/jquery.easing.min.js'></script>*@
    <script src='~/js/slick.min.js'></script>

    <!--scroll magic -->

    <script src="~/js/TweenMax.min.js"></script>
    <script src="~/js/pluscommon.js"></script>
    <script src="~/js/plusPlayer.js"></script>

</head>


<body style="height: auto; min-height: 100%;">
    <div class="wrapper" style="height: auto; min-height: 100%;">

        <!-- 彈跳視窗-登入 -->
        <div class="box_popup member" id="modellogin">
            <div class="box_popup_container">
                <div class="box_popup_container_main col-3 m-col-12 ms-col-12">
                    <p><a href="javascript:void(0)" class="btn_x"></a></p>
                    <p class="box_btn_container">
                        <a href="javascript:void(0)" class="btn_link btn_metamask">
                            <img src="~/image/svg/icon_metamask.svg" />
                            <spam>METAMASK</spam>
                        </a>
                        <a href="javascript:void(0)" class="btn_link btn_tronLink">
                            <img src="~/image/svg/icon_tronLink.svg" />
                            <spam>TronLink</spam>
                        </a>
                    </p>
                    <p class="txt-center">或在這裡登入</p>
                    <hr>
                    <h3 >登入 / <a href="javascript:void(0)" class="btn_popup_register">註冊</a></h3>
                    <div class="row">
                        <input type="text" class="col-12 m-col-6 ms-col-12" placeholder="Account" name="UserName" id="log_username" required="">
                        <input type="text" class="col-12 m-col-6 ms-col-12" placeholder="Password" name="Password" id="log_password" required="">
                    </div>
                    <p style="height: 32px;">
                        <label class="container" style="float: right;">
                            紀錄
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                    </p>
                    <p class="box_btn_container">
                        <a href="javascript:void(0)" id="ykloginbtn" class="btn_link btn_login">
                            游客登錄
                        </a>
                        <a href="javascript:void(0)" id="loginbtn" class="btn_link btn_login">
                            登錄
                        </a>
                    </p>
                </div>
            </div>
            <div class="layer_click">
            </div>
        </div>
        <!-- 彈跳視窗-註冊 -->
        <div class="box_popup register" id="modelreg">
            <div class="box_popup_container">
                <div class="box_popup_container_main col-3 m-col-12 ms-col-12">
                    <p><a href="javascript:void(0)" class="btn_x"></a></p>
                    <h3>注册</h3>
                    <hr>
                    <div class="row">
                        <input type="text" class="col-12 m-col-4 ms-col-12" placeholder="姓名" name="name" id="name">
                        <input type="text" class="col-12 m-col-5 ms-col-12" placeholder="帳號" name="account" id="account">
                        <input type="password" class="col-12 m-col-9 ms-col-12" placeholder="密碼" name="password" id="password">
                        @*<input type="text" class="col-12 m-col-9 ms-col-12" placeholder="確認密碼" name="re_password">*@
                    </div>
                    <p class="box_btn_container">
                        <a href="javascript:void(0)" class="btn_link btn_cancel">
                            取消
                        </a>
                        <a href="javascript:void(0)" id="submitbtn" class="btn_link btn_login">
                            注册
                        </a>
                    </p>
                </div>
            </div>
            <div class="layer_click">
            </div>
        </div>
        <!-- 彈跳視窗-mode -->
        <div class="box_popup mode">
            <div class="box_popup_container">
                <div class="box_popup_container_main col-3 m-col-12 ms-col-12">
                    <p><a href="javascript:void(0)" class="btn_x"></a></p>
                    <h3>特色模式</h3>
                    <hr>
                    <div class="row box_btn_container">
                        <a href="javascript:void(0)" class="btn_link col-12 m-col-4 ms-col-12">
                            全盤
                        </a>
                        <a href="javascript:void(0)" class="btn_link col-12 m-col-4 ms-col-12">
                            Free Game (x13)
                        </a>
                        <a href="javascript:void(0)" class="btn_link col-12 m-col-4 ms-col-12">
                            任意五個百搭
                        </a>
                    </div>
                </div>
            </div>
            <div class="layer_click">
            </div>
        </div>
        <!-- 彈跳視窗-about -->
        <div class="box_popup about">
            <div class="box_popup_container">
                <div class="box_popup_container_main">
                    <p><a href="javascript:void(0)" class="btn_x"></a></p>
                    <div class="text_intro">
                        <span class="top-deco">About</span>
                        <h2>关于吉利</h2>
                        <hr>
                        <div class="text_intro_flex">
                            <div class="text_intro_left">
                                <ul>
                                    您好，欢迎来到吉利的官网，我们致力于研发精品游戏，追求卓越与创新，打造最棒的原创游戏。這是我們的核心價值，欢迎合作与访问。


                                </ul>
                                <div class="hot_game">
                                    <img src="~/image//dragon_icon.png" href="/plusplayer/PlusTrial/42">
                                    <img src="~/image/dragon_icon.png" />
                                    <img src="~/image//game_icon_ols_en-US.png" href="/plusplayer/PlusTrial/21">
                                    <img src="~/image//shanhaibeauty_icon.png" href="/plusplayer/PlusTrial/17">
                                    <img src="~/image//fish_icon.png" href="/plusplayer/PlusTrial/1">
                                    <img src="~/image//bull_icon.png" href="/plusplayer/PlusTrial/29">

                                </div>

                            </div>
                            <div class="text_intro_right">
                                <img src="~/image//img_jili_images2.jpg">
                            </div>
                        </div>
                        <div class="text_intro_btn">
                            <a href="http://localhost:58160/Home/Index/entranceplus#contact">联络我们</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layer_click">
            </div>
        </div>


        <!-- 主選單 -->
        <div class="navbar">
            <div class="container">
                <a class="navbar__logo" href="http://localhost:58160/Home/Index/entranceplus" style=" ">
                    <img src="~/image//logo_jili_us-en.png" alt="JILI">
                </a>
                <nav class="main-nav">
                    <ul class="container">
                        <li class="main-nav__item">
                            <a class="main-nav__link btn_popup_about">关于吉利</a>
                        </li>
                        <li class="main-nav__item">
                            <a href="http://localhost:58160/Home/Index#game" class="main-nav__link ">游戏试玩</a>
                        </li>
                        <li class="main-nav__item">
                            <a href="http://localhost:58160/Home/Index#contact" class="main-nav__link ">联络我们</a>
                        </li>

                    </ul>
                </nav>
                <div class="user-selector">
                   
                        <div id="loginhtml"><a class="btn_popup_member" style="color:#ffffff;font-weight:bold">登录</a></div>&nbsp;
                        <div id="reghtml"><a class="btn_popup_register" style="color:#ffffff;font-weight:bold">注册</a></div>

                    <div class="language-selector-container" tabindex="0" hidefocus="true">

                        <div class="language-button"></div>
                        <div class="language-list" id="plusLangType">

                            <a class="language-list__item" href="http://localhost:58160/Home/Index/entranceplus#">
                                <span class="language-list__title language_zh-cn" value="zh-cn">简中</span>
                            </a>
                            <a class="language-list__item" href="http://localhost:58160/Home/Index/entranceplus#">
                                <span class="language-list__title language_en-us" value="en-us">English</span>
                            </a>
                            <a class="language-list__item" href="http://localhost:58160/Home/Index/entranceplus#">
                                <span class="language-list__title language_th-th" value="th-th">Thai</span>
                            </a>
                            <a class="language-list__item" href="http://localhost:58160/Home/Index/entranceplus#">
                                <span class="language-list__title language_id-ID" value="id-ID">IDN</span>
                            </a>
                            <a class="language-list__item" href="http://localhost:58160/Home/Index/entranceplus#">
                                <span class="language-list__title language_vi-VN" value="vi-VN">VN</span>
                            </a>
                        </div>
                    </div><!-- 漢堡選單 -->
                    <div class="hamburger animated flipInY">
                        <a class="language-list__item" href="javascript:void(0)">
                        </a>
                    </div>
                    <div class="hamburger_close animated">
                        <a class="language-list__item" href="javascript:void(0)">
                        </a>
                    </div>

                    <form method="post" id="changetwLanguageForm">
                        <input type="hidden" name="_token" value="bJP530bWr88IIvN7QjPVNLP37NniqHG1TeI4chPx">
                        <input type="hidden" name="locale" value="zh-tw">
                        <input type="hidden" name="action" value="changePlusLanguage">
                    </form>
                    <form method="post" id="changecnLanguageForm">
                        <input type="hidden" name="_token" value="bJP530bWr88IIvN7QjPVNLP37NniqHG1TeI4chPx">
                        <input type="hidden" name="locale" value="zh-cn">
                        <input type="hidden" name="action" value="changePlusLanguage">
                    </form>
                    <form method="post" id="changeenLanguageForm">
                        <input type="hidden" name="_token" value="bJP530bWr88IIvN7QjPVNLP37NniqHG1TeI4chPx">
                        <input type="hidden" name="locale" value="en-us">
                        <input type="hidden" name="action" value="changePlusLanguage">
                    </form>
                    <form method="post" id="changethLanguageForm">
                        <input type="hidden" name="_token" value="bJP530bWr88IIvN7QjPVNLP37NniqHG1TeI4chPx">
                        <input type="hidden" name="locale" value="th-th">
                        <input type="hidden" name="action" value="changePlusLanguage">
                    </form>
                    <form method="post" id="changeidnLanguageForm">
                        <input type="hidden" name="_token" value="bJP530bWr88IIvN7QjPVNLP37NniqHG1TeI4chPx">
                        <input type="hidden" name="locale" value="id-ID">
                        <input type="hidden" name="action" value="changePlusLanguage">
                    </form>
                    <form method="post" id="changevnLanguageForm">
                        <input type="hidden" name="_token" value="bJP530bWr88IIvN7QjPVNLP37NniqHG1TeI4chPx">
                        <input type="hidden" name="locale" value="vi-VN">
                        <input type="hidden" name="action" value="changePlusLanguage">
                    </form>
                </div>
                <div class="user-selector">

                </div>
            </div>
        </div>


        @RenderBody()


        <!-- 頁尾內容區 -->
        <div class="footer ">
            <div class="container">
            </div>
        </div>
    </div>
</body>
</html>


<script type="text/javascript">
    getlogohtml();
    function loginshow() {

        $("#modellogin").removeClass("box_out");
        var obj = document.getElementById('modellogin');
        obj.className += ' box_in';
    }
    function loginout() {

        $("#modellogin").removeClass("box_in");
        var obj = document.getElementById('modellogin');
        obj.className += ' box_out';
    }
    function registershow() {

        $("#modelreg").removeClass("box_out");
        var obj = document.getElementById('modelreg');
        obj.className += ' box_in';
    }
    function registerout() {

        $("#modelreg").removeClass("box_in");
        var obj = document.getElementById('modelreg');
        obj.className += ' box_out';
    }

    $('.slider').slick({
        autoplay: true,
        autoplaySpeed: 4000,
        draggable: true,
        arrows: false,
        dots: false,
        fade: true,
        speed: 900,
        infinite: true,
        cssEase: 'cubic-bezier(0.7, 0, 0.3, 1)',
        touchThreshold: 100,
        lazyLoad: 'ondemand', // ondemand progressive anticipated
        cssEase: 'ease',
        pauseOnFocus: false,
        pauseOnHover: false,
    })
    $("#submitbtn").click(function () {
        var PassportID = $("#account").val();
        var strTemp = /^1[3|4|5|6|7|8|9][0-9]{9}$/;

        if (!strTemp.test(PassportID)) {
            eval("请填写正确手机号");//  layer.msg("请填写正确手机号!", { icon: 1 });
            return;
        }

        var data = {};
        data.PassportID = $("#account").val();
        data.PassportPwd = $("#password").val();
        //data.ActiveCode = $("#ActiveCode").val();
        data.Name = $("#name").val();
        console.log(data);
        $.ajax({
            type: "post", url: '/Home/AddUser',
            datatype: 'json',
            data: data,
            success: function (res) {
                if (res.success) {
                    // $('#myModal').modal('hide');
                    // layer.msg(res.msg, { icon: 6 });
                    alert(res.msg);
                    registerout();
                    loginshow();
                }
                else {
                    //layer.msg(res.msg, { icon: 6 });
                    alert(res.msg);


                }

            }
        });
    });

    $("#loginbtn").click(function () {
        var PassportID = $("#log_username").val();
        var strTemp = /^1[3|4|5|6|7|8|9][0-9]{9}$/;

        if (!strTemp.test(PassportID)) {
            eval("请填写正确手机号");//  layer.msg("请填写正确手机号!", { icon: 1 });
            return;
        }

        var data = {};
        data.PassportID = $("#log_username").val();
        data.PassportPwd = $("#log_password").val();
        //data.ActiveCode = $("#ActiveCode").val();
        console.log(data);
        $.ajax({
            type: "post", url: '/Home/Login',
            datatype: 'json',
            data: data,
            success: function (res) {
                if (res.success) {
                    // $('#myModal').modal('hide');
                    // layer.msg(res.msg, { icon: 6 });
                    alert(res.msg);
                    loginout();
                    window.location.reload();

                }
                else {
                    //layer.msg(res.msg, { icon: 6 });
                    alert(res.msg);


                }

            }
        });
    });
    $("#ykloginbtn").click(function () {
      
        $.ajax({
            type: "post", url: '/Home/YKLogin',
            datatype: 'json',
            success: function (res) {
                if (res.success) {
                    // $('#myModal').modal('hide');
                    // layer.msg(res.msg, { icon: 6 });
                    alert(res.msg);
                    loginout();
                    window.location.reload();
                }
                else {
                    //layer.msg(res.msg, { icon: 6 });
                    alert(res.msg);


                }

            }
        });
    });
    function getCookie(name) // 取cookies函数
    {

        var arr = document.cookie.match(new RegExp(" (^| ) " + name + " =([^;]*)(;|$) "));
        console.log(arr);
        console.log(document.cookie);
        if (arr != null) return unescape(arr[2]); return null;
    }
    function getlogohtml() {
        var data = {};

        var imgstr = "";
        $.ajax({
            url: "/Home/GetLoginHtml",
            type: "Post",
            dataType: "json",
            data: data,
            success: function (res) {
                $("#loginhtml").empty();
                $("#reghtml").empty();
                if (res.username != "") {

                    imgstr = '<a  style="color:#ffffff; font-weight: bold">' + res.username + '</a>';
                    $("#loginhtml").append(imgstr);
                    imgstr = '<a  style="color:#ffffff;font-weight:bold" onclick="clearCookie()">退出</a>';
                    $("#reghtml").append(imgstr);

                } else {
                    imgstr = '<a class="btn_popup_member" style="color:#ffffff; font-weight: bold">登录</a>';
                    $("#loginhtml").append(imgstr);
                    imgstr = '<a class="btn_popup_register" style="color:#ffffff;font-weight:bold">注册</a>';
                    $("#reghtml").append(imgstr);
                }
            }
        });
    }

    function clearCookie() {
        $.ajax({
            type: "post", url: '/Home/clearcookie',
            datatype: 'json',
            success: function (res) {
                if (res.success) {
                 
                    window.location.reload();
                }
                else {
              
                    alert(res.msg);


                }

            }
        });
    }

    $(".btn_popup_member").click(function () {

        loginshow();

    })

    $(".btn_popup_register").click(function () {

        registershow();

    })
</script>

