<div class="p-foot">
    <p>天天游戏中心 版权所有</p>
    <p>网络文化经营许可证 浙网文【2019】1374-140号</p>
    <p>文网游备字[2014]C-CBG024号</p>
    <p>ICP证：浙B2-20130209 浙ICP备13022161号-1 </p>
    <p>适龄提示：16岁以上使用</p>
    <p>天天网络科技有限公司</p>
</div>
<div class="bottom-nav" style="display: block;">
    <a href="/Home/Index"><em class="index on"></em><span>首页</span></a>
    <a href="/Home/downpage"><em class="download"></em><span>下载</span></a>
    <a href="/Home/Recharge"><em class="topup"></em><span>个人中心</span></a>
    <a href="/Home/News"><em class="news"></em><span>新闻</span></a>
    <a href="/Home/Help"><em class="help"></em><span>帮助</span></a>
</div>
<a href="https://v2.live800.com/live800/chatClient/chatbox.jsp?companyID=549931&amp;configID=125219&amp;jid=8826153173&amp;s=1" class="right-service">
    <span class="txt">客服</span>
</a>
