@{
    ViewBag.Title = "Pay";
}
<style>
    .nav .bg-light-blue {
        color: #fff;
        background-color: #BDA892;
        border-color: #8c8c8c;
    }
    .nav button {
        margin: 5px;
        width: 140px;
        text-align: center;
        color: #A86232;
        background-color: #EDE6E2;
    }
   
    #myTabContent button {
        margin: 5px;
        text-align: center;
        color: #A86232;
        background-color: #EDE6E2;
    }
    #myTabContent .bg-light-blue {
        color: #fff;
        background-color: #BDA892;
        border-color: #8c8c8c;
    }
    .row span,input {
        color: #D1601A;
    }
</style>
<br />


<div class="container-fluid">
    <div class="row">
        <form class="form-inline">
            <div class="form-group">
                <span for="PayNumber">充值账号：</span>
                <input type="hidden" id="PayNumber_NUM"/>
                <input type="text"   class="form-control" id="PayNumber" style="color: #D1601A;background-color:#EDE6E2;" placeholder="充值账号">
            </div>
        </form>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <span>支付方式：</span>
            <br />
            <div id="myTab" class="nav " style="text-align:center">


            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div id="myTabContent" class="tab-content">


        </div>
        <div id="Othermone" class="tab-content">
            <div class="col-lg-12 col-md-12 col-sm-12 ">

                <input type="text" class="form-control" style="margin-left:7%;color: #D1601A;background-color:#EDE6E2;" id="OtherMoney" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"
                       maxlength="6" onchange="OtherChange()" placeholder="其他金额">

            </div>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">

            <button class="btn btn-success center-block" id="submitBtnPay">确认支付</button>
        </div>
    </div>
</div>
<script>
    ApiUrl = "";
    monenum = "";
    GetList();


  
    $("#PayNumber").change(function () {
        var user = $("#PayNumber").val();
        if (user=="") {
            alert("请填写充值账号");
        }
        //var data = {};
        //data.userinfo = user;
        //$.ajax({
        //    type: "post", url: '/Home/IsUserExist',
        //    datatype: 'json',
        //    data: data,
        //    success: function (res) {
        //        console.log(res);
        //        if (res.Code == 0) {
        //            alert(res.Message);
        //        } else {
        //            $("#PayNumber_NUM").val(res.userid);
        //        }

        //    }
        //})

    })
    function UserIsExist(user) {
        var data = {};
        data.userinfo = user;
        $.ajax({
            type: "post", url: '/Home/IsUserExist',
            datatype: 'json',
            data: data,
            success: function (res) {
                console.log(res);
                if (res.Code == 0) {
                    alert(res.Message);
                } else {
                    $("#PayNumber_NUM").val(res.userid);
                }

            }
        })
    }
    function GetList() {
        var data = {};
        data.PageIndex = 1;
        data.PageSize = 20;
        data.Keywords = "";
        data.typeid = 0;
       
        btnstr = "";
        labstr = "";
        var monestr;


        console.log(data)
        $.ajax({
            type: "post", url: '/Home/GetRechargeData',
            datatype: 'json',
            data: data,
            success: function (res) {
                console.log(res);
                if (res.Code == "0" && res.Code == 0) {
                    if (res) {


                        $("#myTab").empty();
                        var btnstr = $("#myTab").html();
                        if (res.Data.length > 0) {
                            for (var n = 0; n < res.Data.length; n++) {
                                monestr = res.Data[n].minmoney.split(",");
                                labstr = "<div class='tab-pane fade in ' id='" + res.Data[n].ChannelCode + res.Data[n].ID + "'><div class='col-lg-12 col-md-12 col-sm-12'><span>支付金额：</span>";
                                btnstr += "<button class='btn btn-default paybtn col-lg-6 col-md-6 col-sm-6' href='#" + res.Data[n].ChannelCode + res.Data[n].ID + "' data-toggle='tab'  onclick='changChick(1,this,\"" + res.Data[n].payurl + "\")'> " + res.Data[n].ChannelName + "</button>";
                                for (var j = 0; j < monestr.length; j++) {


                                    labstr += "<button class='btn btn-default mbtn' onclick='changChick(2,this," + monestr[j]+")'>" + monestr[j] + "</button>";
                                }

                                labstr += " </div></div>";
                                $('#myTabContent').append(labstr);
                              
                            }
                            $('#myTab').append(btnstr);
                            //$('#myTabContent').append(labstr);
                        } else {
                            $("#MyTbody").empty();
                        }
                    } else {
                        eval(res)
                    }
                } else {
                    eval(res)
                }
            }
        })
    }

    function changChick(type, target, payurl) {
      //  UserIsExist($("#PayNumber").val());
        if (type == 1) {
            ApiUrl = payurl;
            console.log(type);
            $.each($(".paybtn"), function () {
                $(this).removeClass("bg-light-blue");
            });
            $(target).addClass("bg-light-blue");
        } else {

            monenum = payurl;
            $("#OtherMoney").val("");
            console.log(type);
        
            $.each($(".mbtn"), function () {
                $(this).removeClass("bg-light-blue");
            });
            $(target).addClass("bg-light-blue");
        }
    }
    $("#submitBtnPay").click(function () {

       
            var usernumber = $("#PayNumber").val();//用户账号
            var othermoney = $("#OtherMoney").val();//输入金额
            var thismoney = othermoney;//赋值金额
            if (usernumber == "") {
                alert("请输入充值的账号");
                return;
            }
            if (monenum != "") {
                thismoney = monenum;
            }
            if (othermoney != "") {
                thismoney = thismoney;
            }

            if (ApiUrl == "") {
                alert("请选择支付类型");
                return;
            }

            if (thismoney == "") {
                alert("请选择支付金额");
                return;
            }
            //  console.log(ApiUrl + "&number=" + monenum + "&userid=" + usernumber);
            window.location.href = ApiUrl + "&number=" + thismoney + "&uid=" + usernumber;

       

    });

    function OtherChange() {
        monenum = "";
        $.each($(".mbtn"), function () {
            $(this).removeClass("bg-light-blue");
        });
    }
</script>