<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="zyGameBaseBll" type="ZyGames.Framework.Game.Configuration.ZyGameBaseBllSection,ZyGames.Framework.Game"/> 
    <section name="sdkChannel" type="ZyGames.Framework.Game.Sns.Section.SdkChannelSection,ZyGames.Framework.Game"/>
  </configSections>
  <appSettings>
    <add key="ServerIp" value="http://106.12.101.44"/>
    <!--基本配置
    https://github.com/ScutGame/Scut-samples/blob/master/Doudizhu/Server/src/DoudizhuServiceRole/app.config
        Port:监听端口
        Code:产品代码
        ServerId:产品游服代码
        Redis.Host:Redis主机地址
        Redis.Port:Redis主机端口
        Redis.Password:密码
        Redis.Db:数据库位置
    -->
    <add key="Product.Code" value="0"/>
    <add key="Product.ServerId" value="0"/>
    <!--<add key="Product.Name" value="游戏名称"/>-->
    <add key="Product.ClientDesDeKey" value="j6=9=1ac"/>
    <!-- 配置语言版本，ZH_CN：简体,EN_US：英文,BIG5_TW：繁体 -->
    <!--<add key="LanguageType" value="ZH_CN"/>-->

    <!--正式9001 测试9002-->
    <add key="Game.Port" value="9001"/>
    <add key="MaxConnections" value="5000"/>
    <!--<add key="Game.Port" value="9002"/>-->
    <!--<add key="Redis.Host" value="password@127.0.0.1:6379"/>--> 
    <add key="Redis.Host" value="127.0.0.1:6379"/>
    <add key="Cache.Serializer" value="json"/>

    <!--正式15 测试14-->
    <add key="Redis.Db" value="4"/>
    <!--<add key="Redis.Db" value="15"/>-->
    <!--<add key="ScriptAsmReferences" value="Common.NLog.dll;" />-->
    <!--引用系统库-->
    <!--<add key="ScriptSysAsmReferences" value="System.Web.dll;" />-->
    <!--添加自己定义的库-->
    <add key="ScriptRelativePath" value="Script"/>
    <add key="CSharpRootPath" value="CsScript"/>
    <add key="LuaRootPath" value="LuaScript"/>
    <add key="Game.Language.TypeName" value="GameServer.CsScript.Locale.SimplifiedLanguage"/>
    <add key="Game.Action.TypeName" value="GameServer.Script.CsScript.Action.Action{0}"/>
    <add key="Game.Action.Script.TypeName" value="GameServer.Script.CsScript.Action.Action{0}"/>
    <!--server to server 通信基础 -->
    <add key="Game.Remote.Script.TypeName" value="GameServer.Script.CsScript.Remote.{0}"/>
    <add key="Script_IsDebug" value="True"/>
    <add key="PublishType" value="Debug"/>
    <add key="Lua_Disable" value="True"/>
    <add key="Cache.IsStorageToDb" value="true"/>
    <add key="Game.Cache.UpdateDbInterval" value="100"/>

    
    <add key="RegDomain" value="http://106.12.101.44:82/"/>
    
    <add key="Game.Http.Host" value="127.0.0.1"/>
    <!--正式8080 测试8081-->
    <add key="Game.Http.Port" value="8080"/>
    <!--<add key="Game.Http.Port" value="8081" />-->
    <add key="Game.Http.Name" value="Service.aspx"/>
    <!--脚本解密回调配置-->
    <!--<add key="Game.Script.DecodeFunc.TypeName" value="ScutSecurity.ScriptDes,ScutSecurity"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings> 
    
    <add name="SnsCenter" providerName="MySqlDataProvider" connectionString="Data Source=mysql57.rdsm0m51lvan3i7.rds.gz.baidubce.com;Database=snscenterwhirl;Uid=root2020;Pwd=root2020@@123456789;"/>
    <add name="ConnData" providerName="MySqlDataProvider" connectionString="Data Source=mysql57.rdsm0m51lvan3i7.rds.gz.baidubce.com;Database=whirl2019;Uid=root2020;Pwd=root2020@@123456789;"/>
    <add name="SystemData" providerName="MySqlDataProvider" connectionString="Data Source=mysql57.rdsm0m51lvan3i7.rds.gz.baidubce.com;Database=whirl2019gm;Uid=root2020;Pwd=root2020@@123456789;"/>
     
  </connectionStrings>
  <!--业务层自定义配置-->
  <zyGameBaseBll>
    <login defaultType="ZyGames.Framework.Game.Sns.Login36you,ZyGames.Framework.Game">
      <retailList>
        <add id="0018" type="ZyGames.Framework.Game.Sns.LoginTencent,ZyGames.Framework.Game" args="RetailID,RetailUser,Sid"/> 
      </retailList>
    </login>
  </zyGameBaseBll>
  <!--配置SDK-->
  <sdkChannel>
    <channelTencent url="http://service.sj.91.com/usercenter/AP.aspx">
      <channel name="0018" appId="wx23342249135de8c2" appKey="bba4d459f5bf8522952c2b01bf46f6f3"/>
    </channelTencent> 
  </sdkChannel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
