
@{
    Layout = "~/Views/Shared/_ClubLayoutPage.cshtml";
    ViewBag.Title = "我的俱乐部";
}

<link href="~/css/club/mdui.css" rel="stylesheet" />
<link href="~/css/club/app.css" rel="stylesheet" />
<script src="~/js/club/mdui.js"></script>
<link href="~/css/club/bootstrap-table.min.css" rel="stylesheet" />
 @*Latest compiled and minified JavaScript*@ 
<script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
@* Latest compiled and minified Locales*@ 
<script src="https://unpkg.com/bootstrap-table@1.15.3/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<style>
    .divbg2 {
        background-color: #1B1B1A;
        margin-bottom: 10px;
    }
    body {
        background-color: #111111;
        height: 1080px;
    }
    .hederdiv {
        width: 50%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .divinput {
        border: none;
        background-color: #1B1B1B;
    }

    .formgroup {
        margin-right: 15px;
        margin-left: 15px;
    }

    .list-group .liitem {
        background-color: #1B1B1A;
        color: #fff;
        position: relative;
        border: solid 2px #1E1E1D;
        border-top-width: 0px;
        border-left: hidden;
        border-right: hidden;
    }

    .spanright {
        color: #818181;
        position: absolute;
        right: 0px;
        top: 10px;
        font-size: 30px;
    }

    .vipheadimg {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid #fff;
        margin-top: 5px;
        margin-right: 5px;
    }

    .lidivri {
        float: right;
        padding-right: 10px;
        line-height: 40px;
        color: #777777;
    }

    .list-group li:hover {
        background: #282828;
    }

    .cspepohead {
        height: 65px;
        margin-top: 0px;
        margin-right: 0px;
    }

    .list-group .titlespan {
        font-size: 16px;
        line-height: 40px;
    }

    .mdui-drawer {
        width: 100%;
    }

    .spanleft {
        color: #818181;
        /*   position: absolute;
        right: 0px;
        top: 10px;*/
        font-size: 30px;
        height: 50px;
        line-height: 42px;
    }

    .head-right div {
        background-color: #282828;
    }

    .head-right .pcolor {
        color: #DBCAB4;
        height: 50px;
        margin: 0 auto;
        line-height: 50px;
        font-size: 16px;
        box-shadow: 0px 20px 20px -20px #262626;
        background-color: #111111;
        padding-left: 10px;
    }

        .head-right .pcolor span {
            height: 50px;
            text-align: left;
            float: left;
            line-height: 50px;
        }

    .table thead tr th {
        text-align: center;
        color: #ffffff;
        background-color: #282828;
        border-bottom: 1px solid #303030;
        border-top: 0px;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        border-top: 1px solid #303030;
    }

    table tr:nth-child(odd) {
        background: #232322;
    }

    .servertable > thead > tr > th {
        text-align: center;
        color: #C0C0C0;
        background-color: #282828;
        border-bottom: 1px solid #303030;
        border: none;
    }

    .bootstrap-table .fixed-table-container .table tbody tr.no-records-found td {
        background-color: #282828;
        color: #C0C0C0;
        border: none;
        border-top: 1px solid #303030;
    }

    .selectinput {
        background-color: #343434;
        border: none;
        margin: 0 auto;
        width: 80%;
    }

    .bootstrap-table .fixed-table-container .table thead th .sortable {
        margin-right: 30px;
    }

    .bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading {
        background-color: #282828;
        border: none;
        color: #999999;
    }

    tbody > tr {
        border: none;
        background-color: #282828;
    }

        tbody > tr > td {
            border-top: 1px solid #303030;
            border: none;
        }

    .bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading {
        top: 35px;
        display: flex;
        border-top: 1px solid #303030;
    }

    .titlespan2 {
        margin-left: 20px;
    }

    .acaozuo {
        float: right;
        margin-right: 20px;
        color: #DBCAB4;
    }

    .headdiv div {
        color: #767676;
    }
</style>

<div class="articleCon">
    <div class="row col-lg-12 divbg2">
        <div class="col-lg-12" style="height:50px;margin-top:10px">
            <a style="float:left;color:#D4AE74"><img src="~/img/club/jt.png" /></a>
            <div style="float:right;">
                <a><img style="height:22px;padding-right:10px" src="~/img/club/fx.png" /></a>
                <a><img style="height:22px" src="~/img/club/youjian.png" /></a>
            </div>
        </div>
        <div class="col-lg-12 text-center">
            <div class="headdiv" style="height:auto">
                <div style="height: 80px;" class="hederdiv">
                    <img src="~/img/club/tb.png" />
                </div>
                <div style="height: 20px;" class="hederdiv">
                    <p style="color:#fff"><span>这是我的俱乐部</span><a><img />等级三</a><span data-toggle="modal" data-target="#myModal"><img />!</span> </p>
                </div>
                <div style="height: 20px;" class="hederdiv ">
                    <p><span>ID:7897465451</span></p>
                </div><div style="height: 20px;" class="hederdiv">
                    <span class="icon iconfont icon-icon-test9">中国</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-lg-12 divbg2">
        <form class="form-horizontal" role="form">
            <div class="formgroup">
                <label for="firstname" class="" style="float:left;text-align:right;height:30px;line-height:30px;color:#fff">介绍</label>

                <div class="" style="float:left;width:85%;padding-left:2%">
                    <input type="text" class="form-control divinput iconfont " maxlength="100" id="firstname" placeholder="&#xe63e;100字以内" style="height:30px">
                </div>
            </div>
        </form>
    </div>
    <div class="row col-lg-12 divbg2">
        <ul class="list-group">
            <li class="list-group-item liitem cspepohead " id="founderview" mdui-drawer="{target: '#left-drawer'}">
                <span class="titlespan">创始人</span>
                <div class="lidivri"><img class="vipheadimg " src="~/downpageimg/ADnjf.png" /> 昵称</div>
                <span class="spanright icon iconfont icon-icon-test13"></span>
            </li>
            <li class="list-group-item liitem" mdui-drawer="{target:'#left-vip'}">
                <span class="titlespan">会员</span>
                <div><img class="vipheadimg" src="~/downpageimg/ADnjf.png" /></div>
                <span class="spanright icon iconfont icon-icon-test13"></span>
            </li>
            <li class="list-group-item liitem" mdui-drawer="{target:'#left-manager'}">
                <span class="titlespan">管理员</span>
                <div class="lidivri">

                </div>
                <span class="spanright icon iconfont icon-icon-test13"></span>
            </li>
            <li class="list-group-item liitem" mdui-drawer="{target:'#left-clubgrade'}">
                <span class="titlespan">俱乐部等级</span>
                <div class="lidivri">

                </div>
                <span class="spanright icon iconfont icon-icon-test13"></span>
            </li>
            <li class="list-group-item liitem" mdui-drawer="{target:'#left-clubunion'}">
                <span class="titlespan">联盟</span>
                <div class="lidivri">
                    0个
                </div>
                <span class="spanright icon iconfont icon-icon-test13"></span>

            </li>
            <li class="list-group-item liitem" mdui-drawer="{target:'#left-clubfund'}">
                <span class="titlespan">基金</span>
                <div class="lidivri">
                    0
                </div>
                <span class="spanright icon iconfont icon-icon-test13"></span>
            </li>
            <li class="list-group-item liitem">
                <span class="titlespan">只允许群主和管理员开局</span>
                <div class="lidivri">

                </div>
                <span class="spanright icon iconfont icon-icon-test13"></span>
            </li>
            <li class="list-group-item liitem">
                <span class="titlespan">允许他人搜索到该俱乐部</span>
                <div class="lidivri">

                </div>
                <span class="spanright icon iconfont icon-icon-test13"></span>
            </li>
            <li class="list-group-item liitem">
                <span class="titlespan">清空聊天记录</span>
                <div class="lidivri">

                </div>
                <span class="spanright icon iconfont icon-icon-test13"></span>
            </li>
            <li class="list-group-item liitem">
                <span class="titlespan">创建时间</span>
                <div class="lidivri">
                    2020/11/01
                </div>
                @*  <span class="spanright icon iconfont icon-icon-test13"></span>*@
            </li>
        </ul>
    </div>
    <div class="row collg-12">
        <button style="background-image: url(../../img/club/an.png); background-size: cover; width: 50%;background-color: #111111;" class="btn center-block">删除并退出</button>
    </div>
</div>

<div class="head-right">
    @*<button class="mdui-btn app-btn" mdui-drawer="{target: '#left-drawer'}"><i class="mdui-icon material-icons "></i></button>*@
    @* 创始人 *@
    <div class="mdui-drawer mdui-drawer-right mdui-drawer-close" id="left-drawer">
        <p class="pcolor">
            <span mdui-drawer="{target: '#left-drawer'}"><i class="mdui-icon material-icons spanleft icon iconfont icon-icon-test11"></i></span>
            <span class="titlespan2">会员管理（1/100）</span> <a class="acaozuo">删除</a>
        </p>
        <div>
            <div class="" style="float: left;padding: 2%;width: 100%;border-bottom: 1px solid #303030; box-shadow: 0px 20px 20px -20px #303030;">
                <input type="text" class="form-control selectinput iconfont " maxlength="100" id="firstname" placeholder="搜索成员" style="height:30px">
            </div>
        </div>
        <div>
            <table id="dataTable" class="servertable" style="border:none">
                <thead style="border-bottom:1px solid #303030">
                    <tr>
                        <th data-field="fullname" data-sortable="true">按名称排序</th>
                        <th data-field="shortname" data-sortable="true">按时间排序</th>
                        @*<th data-field="address" data-sortable="true">地址</th>
                            <th data-field="linkman" data-sortable="true">联系人</th>
                            <th data-field="tel" data-sortable="true">联系电话</th>
                            <th>操作</th>*@
                    </tr>
                </thead>
                <tbody id="dataBody" class="servertable">
                </tbody>
            </table>

        </div>
    </div>
    @* 会员管理 *@
    <div class="mdui-drawer mdui-drawer-right mdui-drawer-close" id="left-vip">
        <p class="pcolor">
            <a><span mdui-drawer="{target: '#left-vip'}"><i class="mdui-icon material-icons spanleft icon iconfont icon-icon-test11"></i></span></a>
            <span class="titlespan2">会员管理（1/100）</span>
            <a class="acaozuo">删除</a>
        </p>

    </div>
    @* 俱乐部等级 *@
    <div class="mdui-drawer mdui-drawer-right mdui-drawer-close" id="left-clubgrade">
        <p class="pcolor">
            <a><span mdui-drawer="{target: '#left-clubgrade'}"><i class="mdui-icon material-icons spanleft icon iconfont icon-icon-test11"></i></span></a>
            <span class="titlespan2">俱乐部等级</span>
            <a class="acaozuo" mdui-drawer="{target:'#left-goclubgrade'}">!</a>
        </p>

    </div>
    @*俱乐部等级附页快速升级 *@
    <div class="mdui-drawer mdui-drawer-right mdui-drawer-close" id="left-goclubgrade">
        <p class="pcolor">
            <a><span mdui-drawer="{target: '#left-goclubgrade'}"><i class="mdui-icon material-icons spanleft icon iconfont icon-icon-test11"></i></span></a>
            <span class="titlespan2">快速升级</span>
        </p>
    </div>
    @* 联盟 *@
    <div class="mdui-drawer mdui-drawer-right mdui-drawer-close" id="left-clubunion">
        <p class="pcolor">
            <a><span mdui-drawer="{target: '#left-clubunion'}"><i class="mdui-icon material-icons spanleft icon iconfont icon-icon-test11"></i></span></a>
            <span class="titlespan2">本俱乐部联盟</span>
            @*  <a class="acaozuo" mdui-drawer="{target:'#left-goclubfund'}">!</a>*@
        </p>
        <div>
            <ul>
                <li mdui-drawer="{target:'#left-Myclubunion'}">这是我的联盟：CD334524</li>
            </ul>
        </div>
    </div>
    @* 我的联盟 *@
    <div class="mdui-drawer mdui-drawer-right mdui-drawer-close" id="left-Myclubunion">
        <p class="pcolor">
            <a><span mdui-drawer="{target: '#left-Myclubunion'}"><i class="mdui-icon material-icons spanleft icon iconfont icon-icon-test11"></i></span></a>
            <span class="titlespan2">这是我的联盟</span>
            <a class="acaozuo" mdui-drawer="{target:'#left-sjclubunion'}">升级联盟</a>
        </p>
        <div>
            <ul>
                <li>这是我的联盟：CD334524</li>
            </ul>
        </div>
    </div>
    @* 升级联盟 *@
    <div class="mdui-drawer mdui-drawer-right mdui-drawer-close" id="left-sjclubunion">
        <p class="pcolor">
            <a><span mdui-drawer="{target: '#left-sjclubunion'}"><i class="mdui-icon material-icons spanleft icon iconfont icon-icon-test11"></i></span></a>
            <span class="titlespan2">升级联盟</span>

        </p>
        <div>

        </div>
    </div>

    @* 基金 *@
    <div class="mdui-drawer mdui-drawer-right mdui-drawer-close" id="left-clubfund">
        <p class="pcolor">
            <a><span mdui-drawer="{target: '#left-clubfund'}"><i class="mdui-icon material-icons spanleft icon iconfont icon-icon-test11"></i></span></a>
            <span class="titlespan2">基金</span>
            @*  <a class="acaozuo" mdui-drawer="{target:'#left-goclubfund'}">!</a>*@
        </p>

    </div>

    @* 管理员 *@
    <div class="mdui-drawer mdui-drawer-right mdui-drawer-close" id="left-manager">
        <p class="pcolor">
            <a><span mdui-drawer="{target: '#left-manager'}"><i class="mdui-icon material-icons spanleft icon iconfont icon-icon-test11"></i></span></a>
            <span class="titlespan2">管理员</span>
        </p>

        <button mdui-drawer="{target:'#left-addmanager'}" style=" height: 50px; width: 100%; background-color: #000000; border: none;color:#D9AF6D">+ 添加管理员</button>
    </div>
    @* 管理员 *@
    <div class="mdui-drawer mdui-drawer-right mdui-drawer-close" id="left-addmanager">
        <p class="pcolor">
            <a><span mdui-drawer="{target: '#left-addmanager'}"><i class="mdui-icon material-icons spanleft icon iconfont icon-icon-test11"></i></span></a>
            <span class="titlespan2">添加管理员</span>
        </p>

    </div>
</div>
@* mdui-overlay mdui-overlay-show *@

@* 俱乐部等级说明 *@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 25%;">
        <div class="modal-content" style="background-color: #1B1B1A;color:#757575">
            <div class="modal-header" style="border:none;text-align:center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:#fff">&times;</button>
                <h4 class="modal-title" id="myModalLabel">俱乐部等级说明</h4>
            </div>
            <div class="modal-body">
                <div style="background-color: #282828;border-radius:5px;text-align:center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="border-radius: 5px 0;">等级</th>
                                <th>成员上限</th>
                                <th style="border-radius:0 5px;">管理员上限</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="">
                                <td>1</td>
                                <td>100</td>
                                <td>3</td>
                            </tr>
                            <tr class="">
                                <td>2</td>
                                <td>200</td>
                                <td>3</td>
                            </tr>
                            <tr class="">
                                <td>3</td>
                                <td>200</td>
                                <td>3</td>
                            </tr>
                            <tr class="">
                                <td>4</td>
                                <td>200</td>
                                <td>3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p>根据俱乐部自身活跃情况对俱乐部进行等级升降级，俱乐部级别越高相应获得的权益越多，了解等级升降规则可联系官方客服Email：support@ayybyy.com.</p>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<input type="hidden" id="userid" />
<input type="hidden" id="clubid" />
<script>

    var uid = "";
    var cid = "";
    function getURLParameter(name) {
        return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
    }

    $(document).ready(function () {
        initTable("dataTable");
        uid = getURLParameter("uid");
        cid = getURLParameter("cid");
        $("#userid").val(uid);//获取用户id
        $("#club").val(cid);//获取clubid
    });
    //自定义ajax
    function ajaxRequest(params) {
        //访问服务器获取所需要的数据
        //比如使用$.ajax获得请求某个url获得数据
        $.ajax({
            type: 'post',
            url: '/Club/Getid',
            data: parames.data,
            success: function (e) {
                if (e.code == 200) {
                    //表格加载数据
                    parames.success({
                        total: total,//符合查询条件的数据总量
                        rows: [{}]//创建一个空行，此处要注意，如果去除，将不会显示任何行
                    });
                    //加载一个片段，形如<tr><td>..</td>...</tr><tr><td>..</td>...</tr>
                    $.ajax({
                        type: 'post',
                        url: 'Club/Getid',
                        data: parames.data,
                        dataType: 'html',
                        success: function (e) {
                            $("#dataBody").html(e);
                        }
                    });
                }
            }
        });
    }
    //自定义参数
    function postQueryParams(params) {
        params.cname = $("#customerName").val();
        params.cid = $("#userid").val();
        params.uid = $("#clubid").val();
        params.time = $("#createtime").val();
        return params;
    }
    //初始化
    function initTable(tableId) {
        $("#" + tableId).bootstrapTable({
            classes: "table table-bordered table-hover table-striped",//加载的样式
            ajax: "ajaxRequest",//自定义ajax
            search: false,//不开启搜索文本框
            sidePagination: "server",//使用服务器端分页
            pagination: "true",//开启分页
            queryParams: "postQueryParams",//自定义参数
            pageSize: 8,//每页大小
            pageList: [8, 16, 32, 64]//可以选择每页大小
        });
    }
    //查询时，先销毁，然后再初始化
    $("#btnSearch").click(function () {
        $("#dataTable").bootstrapTable('destroy');
        initTable("dataTable");
    });
</script>

