
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>修改密码</title>
    <link href="~/scripts/artdialog/ui-dialog.css" rel="stylesheet" type="text/css" />
    <link href="~/skin/default/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery/Validform_v5.3.2_min.js"></script>

    <script type="text/javascript" src="~/scripts/artdialog/dialog-plus-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/laymain.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/common.js"></script>
    <script type="text/javascript">
    $(function () {
        //初始化表单验证
        $("#form1").initValidform();
    });
    </script>
</head>

<body class="mainbody">
    <form id="form1" runat="server">
        <!--导航栏-->
        <div class="location">
            <a href="/Home/ManagerList" class="back"><i></i><span>返回列表页</span></a>
            <a href="/Home/Center" class="home"><i></i><span>首页</span></a>
            <i class="arrow"></i>
            <span>修改密码</span>
        </div>
        <div class="line10"></div>
        <!--/导航栏-->
        <!--内容-->
        <div id="floatHead" class="content-tab-wrap">
            <div class="content-tab">
                <div class="content-tab-ul-wrap">
                    <ul>
                        <li><a class="selected" href="javascript:;">修改密码</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tab-content">
            <dl>
                <dt>用户名</dt>
                <dd><input name="txtUserName" type="text" value="admin" readonly="readonly" id="txtUserName" class="input normal"></dd>
            </dl>
            <dl>
                <dt>旧登录密码</dt>
                <dd><input name="txtOldPassword" type="password" id="txtOldPassword" class="input normal" datatype="*6-20" nullmsg="请输入旧密码" errormsg="密码范围在6-20位之间" sucmsg=""> <span class="Validform_checktip">*</span></dd>
            </dl>
            <dl>
                <dt>新登录密码</dt>
                <dd><input name="txtPassword" type="password" id="txtPassword" class="input normal" datatype="*6-20" nullmsg="请输入新密码" errormsg="密码范围在6-20位之间" sucmsg=""/><span class="Validform_checktip">*</span></dd>
            </dl>
            <dl>
                <dt>确新认密码</dt>
                <dd><input name="txtPassword1" type="password" id="txtPassword1" class="input normal" datatype="*" recheck="txtPassword" nullmsg="请再输入一次新密码" errormsg="两次输入的密码不一致" sucmsg=""/> <span class="Validform_checktip">*</span></dd>
            </dl>
            <dl>
                <dt>姓名</dt>
                <dd><input name="txtRealName" type="text" value="超级管理员" id="txtRealName" class="input normal"></dd>
            </dl>
            <dl>
                <dt>电话</dt>
                <dd><input name="txtTelephone" type="text" value="13800138000" id="txtTelephone" class="input normal"></dd>
            </dl>
            <dl>
                <dt>邮箱</dt>
                <dd><input name="txtEmail" type="text" value="info@dtcms.net" id="txtEmail" class="input normal"></dd>
            </dl>
        </div>
        <!--/内容-->
        <!--工具栏-->
        <div class="page-footer">
            <div class="btn-wrap" style="position: static;">
                <input type="submit" name="btnSubmit" value="提交保存" id="btnSubmit" class="btn">
                <input name="btnReturn" type="button" value="返回上一页" class="btn yellow" onclick="javascript:history.back(-1);">
            </div>
        </div>
        <!--/工具栏-->
    </form>
</body>
</html>